<template>
  <div>
    <div class="mobile-only bgImageMobile orientation-portrait">
      <div class="row">
        <div class="col-12 relative-position">
          <img src="../statics/image/vocab/vocabBG-mobile.png" style="width:100%;height:100%" />
          <div class="color2 fontTitle absolute-center text-center" style="width:100%">ตำราคำศัพท์</div>
        </div>
      </div>
      <!-- สร้าง Unit 1-16 -->
      <div
        class="row bg-white box q-pt-md q-pb-sm"
        v-for="i in 16"
        :key="i"
        @click="flashcardBtn(i)"
      >
        <!-- <div v-for="i in 16" :key="i">
        <q-btn :label="'Unit' + i" class="unitbtn" @click="flashcardBtn(i)" />
        </div>-->

        <div class="col-3 q-pl-md">
          <img :src="'../statics/image/vocab/'+i+'.png'" style="width:100%; width:70px" />
        </div>

        <div class="col-9 text-body1 text-grey-10 q-px-md">
          {{"Unit " + i}}
          <br />
          {{flashcardList[i-1]}}
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <!-- pc -->
    <div class="desktop-only bgImage">
      <div style="height:80px"></div>
      <div class="row">
        <div class="col-6 q-pt-md q-pl-md" align="right">
          <div class="relative-position" style=" max-width:650px; max-height:650px ">
            <span
              style="width:100%; max-width:250px; max-height:250px"
              class="text-center absolute-center text-h2 color2"
            >
              ตำรา
              <br />คำศัพท์
            </span>
            <img style="width:100%;height:650px " src="../statics/image/vocab/vocabBG.png" />
          </div>
        </div>
        <div class="col-6">
          <div class="box-menu q-mt-md" style="width:100%; max-width:630px">
            <!-- header -->

            <!-- ครั้งที่ 1 -->
            <div
              class="bg-white cursor-pointer q-mb-md q-mx-md"
              v-for="i in 16"
              :key="i"
              @click="flashcardBtn(i)"
            >
              <div class="q-py-sm self-center">
                <div class="row bg-white">
                  <img :src="'../statics/image/vocab/'+i+'.png'" class="photo q-ma-md q-mx-md" />
                  <div class="text-h6 q-pa-sm text-grey-10">
                    {{"Unit " + i}}
                    <br />
                    {{flashcardList[i-1]}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <rotate />
  </div>
</template>

<script>
import rotate from "../components/dontsleep.vue";
import { db } from "../router/index.js";
export default {
  components: {
    rotate
  },
  data() {
    return {
      // รับข้อมูล studentData
      studentData: this.$q.localStorage.getItem("studentData"),
      flashcardList: []
    };
  },
  methods: {
    // กด ปุ่ม FlashcardBtn ละไปหน้าต่อไปตาม Unit และ level ของนักเรียน
    flashcardBtn(unit) {
      this.$router.push("/flashcard/" + this.studentData.level + "/" + unit);
    },
    // กดปุ่มย้อนกลับเพื่อกลับไป หน้าหลัก
    backBtn() {
      this.$router.push("/menu");
    },
    loadData() {
      for (let unit = 1; unit <= 16; unit++) {
        let levelSet = "L" + this.studentData.level + "U" + unit;

        db.collection("practicelist")
          .doc("data")
          .collection(levelSet)
          .where("practicetype", "==", "flashcard")
          .get()
          .then(doc => {
            let docId = doc.docs[0].id;

            db.collection("flashcard")
              .doc(docId)
              .get()
              .then(doc2 => {
                // console.log(doc2.data().category);
                this.flashcardList.push(doc2.data().category);
              });
          });
      }
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style scoped>
.fontTitle {
  font-size: 8vw;
}
.card {
  width: 100%;
  max-width: 640px;
}
.photo {
  width: 80px;
  height: 80px;
}
.box {
  border-bottom: 1px solid #0f2753;
  border-right: 1px solid #0f2753;
  border-left: 1px solid #0f2753;
}
.brx {
  border: 1px solid red;
}
.unitbtn {
  width: 100%;
}
.maindiv {
  width: 100%;

  overflow-y: auto;
  border: 1px solid black;
}
.box-menu {
  height: 650px;
  overflow-y: auto;
}

.box-menu::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.box-menu::-webkit-scrollbar-track {
  background: #0f2753;
  border: 6px solid #faf5e2;
}

/* Handle */
.box-menu::-webkit-scrollbar-thumb {
  background: #42cb85;
  border-radius: 10px;
  border: 1px solid #faf5e2;
}
</style>