<template>
  <q-page>
    <div>
      <div class="desktop-only">
        <!-- header -->
        <!-- <div class="col-12 bg2 text-white q-pa-sm text-center row" style="height:50px;">
        <div class="col-1 q-pl-sm" align="left">
          <q-icon
            name="fas fa-chevron-left"
            class="cursor-pointer q-mt-xs"
            size="20px"
            @click="backBtn()"
          />
        </div>
        <div class="col-10 text-h6">Winner</div>
        <div class="col-1 q-pr-sm" align="right">
          <q-icon name="fas fa-sign-out-alt" class="cursor-pointer q-mt-xs" size="24px" />
        </div>
        </div>-->
        <!-- start btn -->
        <div class="bgImage" align="center">
          <div
            class="relative-position q-pt-xl"
            v-show="modeShow==0 "
            style="max-width:1440px; width:100%"
          >
            <div class="q-pt-md">
              <div class="q-pa-xl" align="center">
                <img
                  src="../statics/image/chef.png"
                  style="max-width:180px ; width:100%"
                  class="rounded-borders"
                />
              </div>
            </div>
            <div class="q-pb-xl">
              <q-btn
                label="เริ่ม!"
                class="bg2 text-grey-2 text-h6"
                style="max-width:350px ; width:100%"
                @click="showData()"
              />
            </div>
          </div>
        </div>
        <div>
          <div
            class="absolute-center bg3"
            style="width:100%;max-width:1440px;height:800px"
            v-if="modeShow!=0"
          >
            <!-- vocab -->
            <div class="absolute-center text-h1 color2" style="width: 100%" v-show="modeShow == 1">
              <div
                class="absolute-center"
                style="width: 100%; text-align: center;"
              >{{datavocab.vocab}}</div>
            </div>

            <!-- definition -->
            <div
              class="row bg3 items-center absolute-center"
              style="width:100%;height:800px "
              v-show="modeShow==2"
            >
              <div class="col-6 q-pa-md" align="center">
                <div class>
                  <img :src="datavocab.picData" style="width:100%; " />
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-12 textShow color2" align="center">{{datavocab.meaning}}</div>

                  <div class="col-12 text-h4 color2" align="center">{{datavocab.vocab}}</div>
                </div>
              </div>
            </div>
            <!-- ending -->
            <div v-show="modeShow==3" class="absolute-center">
              <div>
                <q-btn class="btn bg-white" size="lg" label="กลับหน้าหลัก" @click="backBtn()" />
              </div>
              <div>
                <q-btn
                  class="btn q-mt-md"
                  size="lg"
                  color="primary"
                  label="เล่นอีกครั้ง"
                  @click="showData()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- mobile -->
      <div class="mobile-only bgImage orientation-portrait">
        <!-- start btn -->
        <div v-show="modeShow==0 ">
          <div class="absolute-center text-center" style="width:100%">
            <div class="q-py-xl">
              <img src="../statics/image/chef.png" style="width:100%; max-width:130px " />

              <div>
                <q-btn
                  label="เริ่ม!"
                  class="bg2 text-grey-2 text-h6 q-my-md"
                  style="max-width:300px ; width:100%"
                  @click="showData()"
                />
              </div>
            </div>
          </div>
        </div>

        <div>
          <!-- vocab -->

          <div class="text-h3 color2" v-show="modeShow == 1">
            <div class="absolute-center bg3 text-center" style="width:100%;height:100%">
              <span class="absolute-center">{{datavocab.vocab}}</span>
            </div>
          </div>

          <!-- definition -->
          <div class="row" v-show="modeShow==2">
            <div class="absolute-center bg3" style="width:100%;height:100%">
              <div class="col-12 q-pt-md q-px-md" align="center">
                <img :src="datavocab.picData" style="width:100% " class="rounded-borders" />
              </div>
              <div class="col-12">
                <div class="col-12 text-h4 color2 q-pt-xl" align="center">{{datavocab.meaning}}</div>

                <div class="col-12 text-h5 color2 q-pt-md" align="center">{{datavocab.vocab}}</div>
              </div>
            </div>
          </div>
          <!-- ending -->
          <div v-show="modeShow==3">
            <div class="absolute-center bg3" style="width:100%;height:100%">
              <div class="absolute-center">
                <div>
                  <q-btn size="lg" class="btn bg-white" label="กลับหน้าหลัก" @click="backBtn()" />
                </div>
                <div>
                  <q-btn
                    size="lg"
                    class="btn q-mt-md"
                    color="primary"
                    label="เล่นอีกครั้ง"
                    @click="showData()"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <rotate />
    </div>
  </q-page>
</template>

<script>
// import database
import rotate from "../components/dontsleep.vue";
import { db } from "../router/index.js";
export default {
  components: {
    rotate
  },
  data() {
    return {
      level: this.$route.params.level,
      unit: this.$route.params.unit,
      flashcard: [],
      modeShow: 0,
      datavocab: { vocab: "", meaning: "", picData: "" },
      picServer: "https://api.winner-english.com/data/pic_flashcard/",
      soundServer: "https://api.winner-english.com/data/sound_flashcard/",
      timeouts: []
    };
  },
  methods: {
    // เลือกคำศัพท์ตาม Level
    async loadData() {
      let levelset = "L" + this.level + "U" + this.unit;

      db.collection("practicelist")
        .doc("data")
        .collection(levelset)
        .where("practicetype", "==", "flashcard")
        .get()
        .then(doc => {
          let practicekey = doc.docs[0].id;
          db.collection("flashcard")
            .doc(practicekey)
            .collection("server")
            .get()
            .then(doc2 => {
              doc2.forEach(data2 => {
                let dataTemp = {
                  vocab: data2.data().vocabulary,
                  meaning: data2.data().meaning,
                  picData: data2.id.toLowerCase() + ".jpg",
                  soundData: data2.id.toLowerCase() + ".mp3"
                };
                this.flashcard.push(dataTemp);
              });
            });
        });
    },
    showData() {
      this.timeouts = [];
      for (let i in this.flashcard) {
        this.timeouts.push(
          setTimeout(() => {
            this.modeShow = 1;
            this.playSound(this.soundServer + this.flashcard[i].soundData);
            this.datavocab.vocab = this.flashcard[i].vocab;
          }, 5000 * i)
        );
        this.timeouts.push(
          setTimeout(() => {
            this.modeShow = 2;
            this.datavocab.meaning = this.flashcard[i].meaning;
            this.datavocab.picData = this.picServer + this.flashcard[i].picData;
          }, 5000 * i + 2500)
        );
      }
      this.timeouts.push(
        setTimeout(() => {
          this.modeShow = 3;
        }, 5000 * this.flashcard.length + 5000)
      );
    },
    playSound(file) {
      if (this.$q.localStorage.getItem("soundOn")) {
        var audio = new Audio(file);
        audio.play();
      }
    },
    backBtn() {
      for (var i = 0; i < this.timeouts.length; i++) {
        clearTimeout(this.timeouts[i]);
      }

      this.$router.push("/flashcardmain");
    }
  },
  mounted() {
    this.loadData();
  },
  beforeDestroy() {
    for (var i = 0; i < this.timeouts.length; i++) {
      clearTimeout(this.timeouts[i]);
    }
  }
};
</script>

<style scoped>
.btn {
  width: 300px;
}

.maindiv {
  width: 100%;
  height: 780px;
}
.imgshow {
  width: 100%;
}
.brx {
  border: 1px solid red;
}
.textShow {
  font-size: 3vw;
}
</style>