<template>
  <div>
    <div class="desktop-only bgImage">
      <!-- loading page -->
      <div class="absolute-center row" v-if="showMode==0">
        <img style="width:500px;" src="../statics/image/pizzaLoading.gif" />
      </div>
      <div align="center " class="row" v-if="showMode==1">
        <!-- header -->
        <div class="bgImage">
          <div style="height:80px"></div>
          <div class="row">
            <div class="col-6 q-pt-md q-pl-md" align="right">
              <div class="relative-position" style=" max-width:650px; max-height:650px ">
                <span
                  style="width:100%; max-width:300px; max-height:300px"
                  class="text-center absolute-center text-h2 color2"
                >
                  แบบฝึกหัด
                  <br />ไวยากรณ์
                </span>
                <img style="width:100%;height:650px " src="../statics/image/vocab/vocabBG.png" />
              </div>
            </div>
            <!-- ครั้งที่ 1 -->
            <div class="col-6">
              <div class="box-menu q-mt-md" style="width:100%; max-width:630px">
                <div
                  align="left"
                  class="bg-white cursor-pointer q-mb-md q-mx-md"
                  v-for="i in 5"
                  :key="i"
                  @click="runBtn(1,i+1, i)"
                >
                  <div class="q-py-sm card self-center">
                    <div class="row bg-white card">
                      <img
                        :src="'../statics/image/vocab/grammar/'+i+'.png'"
                        class="photo q-ma-md q-mx-md"
                      />

                      <div class="q-mt-sm text-h6">
                        แบบฝึกหัดไวยากรณ์ ครั้งที่ {{i}}
                        <div>(unit 1-{{i+1}})</div>
                        <div>
                          <q-icon
                            name="fas fa-star"
                            size="24px"
                            class="q-mx-sm text-amber"
                            v-if="starList[i-1] >=5"
                          />

                          <q-icon
                            name="fas fa-star"
                            size="24px"
                            class="q-mx-sm text-amber"
                            v-if="starList[i-1] >=7"
                          />

                          <q-icon
                            name="fas fa-star"
                            size="24px"
                            class="q-mx-sm text-amber"
                            v-if="starList[i-1] >=9"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ครั้งที่ 2 -->
                <div
                  align="left"
                  class="bg-white cursor-pointer q-ma-md"
                  v-for="i in 5"
                  :key="i+7"
                  @click="runBtn(7,i+7, i+5)"
                >
                  <div class="q-py-sm card self-center">
                    <div class="row bg-white card">
                      <img
                        :src="'../statics/image/vocab/grammar/'+i+'a.png'"
                        class="photo q-ma-md q-mx-md"
                      />

                      <div class="q-mt-sm text-h6">
                        แบบฝึกหัดไวยากรณ์ ครั้งที่ {{i+5}}
                        <div>(unit 7-{{i+7}})</div>
                        <div>
                          <q-icon
                            name="fas fa-star"
                            size="24px"
                            class="q-mx-sm text-amber"
                            v-if="starList[i+4] >=5"
                          />

                          <q-icon
                            name="fas fa-star"
                            size="24px"
                            class="q-mx-sm text-amber"
                            v-if="starList[i+4] >=7"
                          />

                          <q-icon
                            name="fas fa-star"
                            size="24px"
                            class="q-mx-sm text-amber"
                            v-if="starList[i+4] >=9"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- loading page -->
    <div class="mobile-only bgImageMobile orientation-portrait">
      <div class="absolute-center row" v-if="showMode==0">
        <div>
          <img style="width:150px;height:150px" src="../statics/image/pizzaLoading.gif" />
        </div>
      </div>
      <div class="row justify-center" v-if="showMode==1">
        <div class="relative-position">
          <div
            style="width:100%"
            class="absolute-center color2 fontTitle text-center"
          >แบบฝึกหัดไวยากรณ์</div>
          <img src="../statics/image/vocab/vocabBG-mobile.png" style="width:100%;height:100%" />
        </div>
        <!-- header -->

        <!-- ครั้งที่ 1 -->
        <div
          align="left"
          class="box cursor-pointer col-12"
          v-for="i in 5"
          :key="i"
          @click="runBtn(1,i+1, i)"
        >
          <div class="row bg-white">
            <div class="q-pa-md q-pt-md">
              <img :src="'../statics/image/vocab/grammar/'+i+'.png'" class="photo" />
            </div>
            <div class="text-body1 q-pt-sm">
              แบบฝึกหัดไวยากรณ์ ครั้งที่ {{i}}
              <div>(unit 1-{{i+1}})</div>
              <div class="q-pt-sm">
                <q-icon
                  name="fas fa-star"
                  size="20px"
                  class="q-mx-xs q-pb-md text-amber"
                  v-if="starList[i-1] >=5"
                />

                <q-icon
                  name="fas fa-star"
                  size="20px"
                  class="q-mx-xs q-pb-md text-amber"
                  v-if="starList[i-1] >=7"
                />

                <q-icon
                  name="fas fa-star"
                  size="20px"
                  class="q-mx-xs q-pb-md text-amber"
                  v-if="starList[i-1] >=9"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- ครั้งที่ 2 -->
        <div
          align="left"
          class="box cursor-pointer col-12"
          v-for="i in 5"
          :key="i+7"
          @click="runBtn(7,i+7, i+5)"
        >
          <div class="row bg-white">
            <div class="q-pa-md q-pt-md">
              <img :src="'../statics/image/vocab/grammar/'+i+'a.png'" class="photo" />
            </div>

            <div class="q-pt-sm text-body1">
              แบบฝึกหัดไวยากรณ์ ครั้งที่ {{i+5}}
              <div>(unit 7-{{i+7}})</div>
              <div class="q-pt-sm">
                <q-icon
                  name="fas fa-star"
                  size="20px"
                  class="q-mx-xs q-pb-md text-amber"
                  v-if="starList[i+4] >=5"
                />

                <q-icon
                  name="fas fa-star"
                  size="20px"
                  class="q-mx-xs q-pb-md text-amber"
                  v-if="starList[i+4] >=7"
                />

                <q-icon
                  name="fas fa-star"
                  size="20px"
                  class="q-mx-xs q-pb-md text-amber"
                  v-if="starList[i+4] >=9"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <rotate />
  </div>
</template>

<script>
import rotate from "../components/dontsleep.vue";
import { db } from "../router/index.js";
export default {
  components: {
    rotate
  },
  data() {
    return {
      studentData: this.$q.localStorage.getItem("studentData"),
      starList: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      showMode: 1 //0=loading,1=menu
    };
  },
  methods: {
    runBtn(start, end, no) {
      this.$router.push("/grammartest/" + start + "/" + end + "/" + no);
    },
    async loadData() {
      await db
        .collection("reviewgrammar")
        .doc("lv" + this.studentData.level)
        .collection("data")
        .doc(this.studentData.key)

        .get()
        .then(data => {
          if (data.exists) {
            this.starList = data.data().grammar;
          }

          this.showMode = 1;
          // setTimeout(() => {
          //   this.showMode = 1;
          // }, 2200);
        });
    },

    backBtn() {
      this.$router.push("/menu");
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style scoped>
.fontTitle {
  font-size: 8vw;
}
.card {
  width: 100%;
  max-width: 640px;
}
.photo {
  width: 80px;
  height: 80px;
}
.maindiv {
  width: 400px;
  height: 780px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;
}
.box {
  border-bottom: 1px solid #0f2753;
  border-right: 1px solid #0f2753;
  border-left: 1px solid #0f2753;
}
.brx {
  border: 1px solid black;
}
.box-menu {
  height: 650px;
  overflow-y: auto;
}

.box-menu::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.box-menu::-webkit-scrollbar-track {
  background: #0f2753;
  border: 6px solid #faf5e2;
}

/* Handle */
.box-menu::-webkit-scrollbar-thumb {
  background: #42cb85;
  border-radius: 10px;
  border: 1px solid #faf5e2;
}
</style>