<template>
  <div>
    <div class="desktop-only bgImage">
      <!-- loading page -->
      <div class="absolute-center row" v-if="showMode==0">
        <img style="width:500px;" src="../statics/image/pizzaLoading.gif" />
      </div>
      <!-- ***********หน้าคำถาม -->
      <div
        class="absolute-center text-h6"
        style="width:100%;max-width:1000px;height:700px"
        v-if="showMode==1"
      >
        <!-- header -->
        <div class="q-ma-md">คำถาม: {{currentNo}}/10</div>
        <!-- คำสั่ง -->

        <div
          class="q-ma-md"
          v-html="grammarUse[
            currentNo - 1
            ].instructionThai"
        >
          <!-- {{grammarUse[
          currentNo - 1
          ].instructionThai}}-->
        </div>
        <!-- คำถาม -->
        <div class="relative-position q-ma-md" style="height:200px;  background-color: #0f2753">
          <div
            class="q-my-md q-pa-md text-white absolute-center"
            v-html="grammarUse[
        currentNo - 1
        ].question"
          ></div>
        </div>
        <!-- คำตอบ -->
        <div class="row q-pt-md">
          <div class="q-my-sm q-px-md col-6">
            <q-btn
              size="lg"
              class="btn box bg-white"
              v-html="grammarUse[
        currentNo - 1
        ].choice1"
              no-caps
              @click="answer(1)"
            ></q-btn>
          </div>
          <div class="q-my-sm q-px-md col-6">
            <q-btn
              size="lg"
              class="btn box bg-white"
              v-html="grammarUse[
        currentNo - 1
        ].choice2"
              no-caps
              @click="answer(2)"
            ></q-btn>
          </div>
          <div
            class="q-my-sm q-px-md col-6"
            v-show="grammarUse[
        currentNo - 1
        ].choice3.length>0"
          >
            <q-btn
              size="lg"
              class="btn box bg-white"
              v-html="grammarUse[
        currentNo - 1
        ].choice3"
              no-caps
              @click="answer(3)"
            ></q-btn>
          </div>
          <div
            class="q-my-sm q-px-md col-6"
            v-show="grammarUse[
        currentNo - 1
        ].choice4.length>0"
          >
            <q-btn
              size="lg"
              class="btn box bg-white"
              v-html="grammarUse[
        currentNo - 1
        ].choice4"
              no-caps
              @click="answer(4)"
            ></q-btn>
          </div>
        </div>
      </div>
      <!-- ***************หน้าเฉลย -->
      <div
        class="absolute-center text-h6"
        style="width:100%;max-width:1000px;height:700px"
        v-if="showMode==2"
      >
        <!-- header -->

        <div class="q-ma-md">คำถาม: {{currentNo}}/10</div>
        <!-- คำสั่ง -->

        <div class="q-ma-md">
          {{grammarUse[
          currentNo - 1
          ].instructionThai}}
        </div>
        <!-- คำถาม -->
        <div class="relative-position q-ma-md" style="height:200px;  background-color: #0f2753">
          <div
            class="q-my-md q-pa-md text-white absolute-center"
            v-html="grammarUse[
        currentNo - 1
        ].question"
          ></div>
        </div>
        <!-- คำตอบ -->
        <div class="row q-pt-sm">
          <div class="col-6 q-px-md q-pt-md">
            <q-btn
              size="lg"
              class="btn box bg-white"
              v-html="grammarUse[
        currentNo - 1
        ].choice1"
              no-caps
              :class="{'bg-green':grammarUse[currentNo -1].correctAnswer==1,'bg-red':studentAnswer==1 }"
            ></q-btn>
          </div>
          <div class="col-6 q-px-md q-pt-md">
            <q-btn
              size="lg"
              class="btn box bg-white"
              v-html="grammarUse[
        currentNo - 1
        ].choice2"
              no-caps
              :class="{'bg-green':grammarUse[currentNo -1].correctAnswer==2,'bg-red':studentAnswer==2 }"
            ></q-btn>
          </div>
          <div class="col-6 q-px-md q-pt-md">
            <q-btn
              size="lg"
              v-show="grammarUse[
        currentNo - 1
        ].choice3.length>0"
              class="btn box bg-white"
              v-html="grammarUse[
        currentNo - 1
        ].choice3"
              no-caps
              :class="{'bg-green':grammarUse[currentNo -1].correctAnswer==3,'bg-red':studentAnswer==3 }"
            ></q-btn>
          </div>
          <div class="col-6 q-px-md q-pt-md">
            <q-btn
              size="lg"
              v-show="grammarUse[
        currentNo - 1
        ].choice4.length>0"
              class="btn box bg-white"
              v-html="grammarUse[
        currentNo - 1
        ].choice4"
              no-caps
              :class="{'bg-green':grammarUse[currentNo -1].correctAnswer==4,'bg-red':studentAnswer==4 }"
            ></q-btn>
          </div>
        </div>

        <!-- คำเฉลย -->
        <div
          class="q-ma-md bg-white q-pa-md borderdash"
          v-html="grammarUse[currentNo-1].description"
        >
          <!-- คำอธิบาย
          <br />
          {{grammarUse[currentNo-1].description}}-->
        </div>
        <div class="col-12 row justify-center">
          <div class="q-ma-md col-6">
            <q-btn class="btn bg1 text-white" size="lg" @click="nextpage()">ข้อต่อไป</q-btn>
          </div>
        </div>
      </div>

      <!-- หน้าสรุป -->
      <div class="absolute-center" v-if="showMode==3">
        <div class="row">
          <div class="col-12 text-center">
            <q-circular-progress
              show-value
              font-size="50px"
              class="color2 q-ma-md"
              :value="scoreTotal/10*100"
              size="150px"
              :thickness="0.15"
              style="background-color: #0f2753;border-radius:100px "
            >{{scoreTotal}}/10</q-circular-progress>
          </div>
          <div class="q-px-md q-my-sm col-12" align="center">
            <div>
              <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <5" />
              <q-icon
                name="fas fa-star"
                size="lg"
                class="q-mx-sm text-amber"
                v-if="scoreTotal >=5"
              />
              <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <7" />
              <q-icon
                name="fas fa-star"
                size="lg"
                class="q-mx-sm text-amber"
                v-if="scoreTotal >=7"
              />
              <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <9" />
              <q-icon
                name="fas fa-star"
                size="lg"
                class="q-mx-sm text-amber"
                v-if="scoreTotal >=9"
              />
            </div>
          </div>
          <div class="col-12 text-center text-h5 color1 q-pa-md">จบการทบทวน ครั้งที่ {{quizno}}</div>
          <div class="col-12">
            <div class="q-ma-md">
              <q-btn
                class="btn bg1 text-white"
                size="lg"
                label="ออกจากการทบทวน"
                to="/grammarpractice"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="q-mx-md">
              <q-btn
                class="btn box bg-white"
                size="lg"
                label="ทำแบบฝึกหัดอีกครั้ง"
                @click="loadData()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-only bgImage orientation-portrait">
      <!-- loading page -->
      <div class="absolute-center row" v-if="showMode==0">
        <div>
          <img style="width:150px;height:150px" src="../statics/image/pizzaLoading.gif" />
        </div>
      </div>
      <!-- ***********หน้าคำถาม -->
      <div class="bgImageMobile" v-if="showMode==1">
        <!-- header -->

        <div class="q-pt-md q-px-md fontText">คำถาม: {{currentNo}}/10</div>
        <!-- คำสั่ง -->

        <div
          class="q-px-md q-pb-sm fontText"
          v-html="grammarUse[
            currentNo - 1
            ].instructionThai"
        >
          <!-- {{grammarUse[
          currentNo - 1
          ].instructionThai}}-->
        </div>

        <!-- คำถาม -->
        <div class="q-px-md text-body1">
          <div class="relative-position" style="height:200px;  background-color: #0f2753">
            <div class="absolute-center">
              <div
                style="width:250px"
                class="text-center text-white q-pa-md q-pa-md"
                v-html="grammarUse[
        currentNo - 1
        ].question"
              ></div>
            </div>
          </div>
        </div>

        <!-- คำตอบ -->
        <div class="q-ma-md">
          <q-btn
            size="lg"
            class="bg-white color1 box"
            style="width:100%"
            v-html="grammarUse[
        currentNo - 1
        ].choice1"
            no-caps
            @click="answer(1)"
          ></q-btn>
        </div>
        <div class="q-ma-md">
          <q-btn
            size="lg"
            class="bg-white color1 box"
            style="width:100%"
            v-html="grammarUse[
        currentNo - 1
        ].choice2"
            no-caps
            @click="answer(2)"
          ></q-btn>
        </div>
        <div class="q-ma-md" v-show="grammarUse[
        currentNo - 1
        ].choice3.length>0">
          <q-btn
            size="lg"
            class="bg-white color1 box"
            style="width:100%"
            v-html="grammarUse[
        currentNo - 1
        ].choice3"
            no-caps
            @click="answer(3)"
          ></q-btn>
        </div>
        <div
          class="q-px-md q-pb-md"
          style="width:100%"
          v-show="grammarUse[
        currentNo - 1
        ].choice4.length>0"
        >
          <q-btn
            size="lg"
            class="bg-white color1 box"
            style="width:100%"
            v-html="grammarUse[
        currentNo - 1
        ].choice4"
            no-caps
            @click="answer(4)"
          ></q-btn>
        </div>
      </div>
      <!-- ***************หน้าเฉลย -->
      <div class="bgImageMobile" v-if="showMode==2">
        <!-- header -->

        <div class="q-px-md q-pt-md">คำถาม: {{currentNo}}/10</div>
        <!-- คำสั่ง -->

        <div class="q-px-md q-pt-md">
          {{grammarUse[
          currentNo - 1
          ].instructionThai}}
        </div>
        <!-- คำถาม -->
        <div class="q-px-md q-pt-sm">
          <div class="relative-position" style="height:200px;  background-color: #0f2753">
            <div class="absolute-center text-body1">
              <div
                style="width:250px"
                class="text-center text-white q-pa-md q-pa-md"
                v-html="grammarUse[
        currentNo - 1
        ].question"
              ></div>
            </div>
          </div>
        </div>

        <!-- คำตอบ -->
        <div class="q-ma-md">
          <q-btn
            size="lg"
            class="bg-white color1 box"
            style="width:100%"
            v-html="grammarUse[
        currentNo - 1
        ].choice1"
            no-caps
            :class="{'bg-green':grammarUse[currentNo -1].correctAnswer==1,'bg-red':studentAnswer==1 }"
          ></q-btn>
        </div>
        <div class="q-ma-md">
          <q-btn
            size="lg"
            class="bg-white color1 box"
            style="width:100%"
            v-html="grammarUse[
        currentNo - 1
        ].choice2"
            no-caps
            :class="{'bg-green':grammarUse[currentNo -1].correctAnswer==2,'bg-red':studentAnswer==2 }"
          ></q-btn>
        </div>
        <div class="q-ma-md">
          <q-btn
            size="lg"
            v-show="grammarUse[
        currentNo - 1
        ].choice3.length>0"
            class="bg-white color1 box"
            style="width:100%"
            v-html="grammarUse[
        currentNo - 1
        ].choice3"
            no-caps
            :class="{'bg-green':grammarUse[currentNo -1].correctAnswer==3,'bg-red':studentAnswer==3 }"
          ></q-btn>
        </div>
        <div class="q-ma-md">
          <q-btn
            size="lg"
            v-show="grammarUse[
        currentNo - 1
        ].choice4.length>0"
            class="bg-white color1 box"
            style="width:100%"
            v-html="grammarUse[
        currentNo - 1
        ].choice4"
            no-caps
            :class="{'bg-green':grammarUse[currentNo -1].correctAnswer==4,'bg-red':studentAnswer==4 }"
          ></q-btn>
        </div>
        <!-- คำเฉลย -->
        <div
          class="q-ma-md q-pa-md bg-white borderdash"
          v-html="grammarUse[currentNo-1].description"
        >
          <!-- คำอธิบาย
          <br />
          {{grammarUse[currentNo-1].description}}-->
        </div>
        <div class="q-px-md q-pb-md">
          <q-btn
            size="lg"
            style="width:100%; background-color: #0f2753"
            class="text-white"
            @click="nextpage()"
          >ข้อต่อไป</q-btn>
        </div>
      </div>

      <!-- หน้าสรุป -->
      <div v-if="showMode==3">
        <div class="row">
          <div class="col-12 text-center q-pt-md">
            <q-circular-progress
              show-value
              font-size="24px"
              :value="scoreTotal/10*100"
              size="100px"
              :thickness="0.15"
              class="color2 q-ma-md"
              style="background-color: #0f2753;border-radius:50px "
            >{{scoreTotal}}/10</q-circular-progress>
          </div>
          <div class="q-px-md q-my-sm col-12" align="center">
            <div>
              <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <5" />
              <q-icon
                name="fas fa-star"
                size="lg"
                class="q-mx-sm text-amber"
                v-if="scoreTotal >=5"
              />
              <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <7" />
              <q-icon
                name="fas fa-star"
                size="lg"
                class="q-mx-sm text-amber"
                v-if="scoreTotal >=7"
              />
              <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <9" />
              <q-icon
                name="fas fa-star"
                size="lg"
                class="q-mx-sm text-amber"
                v-if="scoreTotal >=9"
              />
            </div>
          </div>
          <div class="col-12 text-center text-h5 color1 q-pa-md">จบการทบทวน ครั้งที่ {{quizno}}</div>
          <div class="col-12">
            <div class="q-ma-md">
              <q-btn
                size="lg"
                class="text-white bg3"
                style="width:100%"
                label="ออกจากการทบทวน"
                to="/grammarpractice"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="q-mx-md">
              <q-btn
                size="lg"
                class="bg-white box color1"
                style="width:100%"
                label="ทำแบบฝึกหัดอีกครั้ง"
                @click="loadData()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <rotate />
  </div>
</template>

<script>
import rotate from "../components/dontsleep.vue";
import { db } from "../router/index.js";
export default {
  components: {
    rotate
  },
  data() {
    return {
      startunit: this.$route.params.startunit,
      endunit: this.$route.params.endunit,
      quizno: this.$route.params.quizno,
      studentData: this.$q.localStorage.getItem("studentData"),
      grammarEndData: [],
      grammarStartData: [],
      grammarUse: [], //ตัวแปรเก็บโจทย์คำถาม
      currentNo: 1, //ข้อปัจจุบันที่ทำงานอยู่
      showMode: 0, //0=loading 1= คำถาม 2 = เฉลย  3= หน้าจบ
      scoreTotal: 0
    };
  },
  methods: {
    async loadData() {
      this.currentNo = 1;
      this.grammarEndData = [];
      this.grammarStartData = [];
      this.grammarUse = [];
      this.scoreTotal = 0;
      //set จำนวนข้อที่ควรที่จะมี
      let unitDiff = this.endunit - this.startunit + 1;
      let lastunit = 4;
      var otherunit = 6;
      if (unitDiff == 2) {
        lastunit = 5;
        otherunit = 5;
      }
      //โหลดข้อสอบ Grammar ใน unit สุดท้าย เก็บไว้ใน grammarEndData
      let levelSet = "L" + this.studentData.level + "U" + this.endunit;
      let endsize;

      await db
        .collection("questionpool")
        .doc("server")
        .collection(levelSet)
        .where("skill", "==", "grammar")
        .get()
        .then(doc => {
          endsize = doc.size;
          doc.forEach(data => {
            let dataTemp = {
              instructionEng: data.data().instructioneng,
              instructionThai: data.data().instructionthai,
              choice1: data.data().choice1,
              choice2: data.data().choice2,
              choice3: data.data().choice3,
              choice4: data.data().choice4,
              correctAnswer: data.data().correctanswer,
              question: data.data().question,
              description: data.data().description
            };
            this.grammarEndData.push(dataTemp);
          });
        });
      //กรณีต้องตัดคำถามบ้างข้อออกจาก list
      if (endsize > lastunit) {
        for (let i = 1; i <= endsize - lastunit; i++) {
          this.grammarEndData.splice(
            this._.random(this.grammarEndData.length - 1),
            1
          );
        }
      }

      //โหลดคลังข้อสอบจาก unit ที่เหลือ
      for (let i = Number(this.startunit); i < Number(this.endunit); i++) {
        let levelSet2 = "L" + this.studentData.level + "U" + i;
        await db
          .collection("questionpool")
          .doc("server")
          .collection(levelSet2)
          .where("skill", "==", "grammar")
          .get()
          .then(doc => {
            doc.forEach(data => {
              let dataTemp = {
                instructionEng: data.data().instructioneng,
                instructionThai: data.data().instructionthai,
                choice1: data.data().choice1,
                choice2: data.data().choice2,
                choice3: data.data().choice3,
                choice4: data.data().choice4,
                correctAnswer: data.data().correctanswer,
                question: data.data().question,
                description: data.data().description
              };
              this.grammarStartData.push(dataTemp);
            });
          });
      }
      //ตัด array ข้อที่ไม่จำเป็นออก
      let removeNo = this.grammarStartData.length - otherunit;
      for (let j = 1; j <= removeNo; j++) {
        let numberx = this._.random(this.grammarStartData.length - 1);
        this.grammarStartData.splice(numberx, 1);
      }

      //รวม array สองอันรวมกัน พร้อมทั้งสลับข้อ
      this.grammarUse = this._.concat(
        this.grammarStartData,
        this.grammarEndData
      );
      this.grammarUse = this._.shuffle(this.grammarUse);
      this.showMode = 1;
    },

    answer(answerNo) {
      var audioTrue = new Audio("../statics/correct.mp3");
      var audioFalse = new Audio("../statics/fail.mp3");
      this.showMode = 2;
      this.studentAnswer = answerNo;
      if (
        this.studentAnswer == this.grammarUse[this.currentNo - 1].correctAnswer
      ) {
        this.scoreTotal += 1;
        if (this.$q.localStorage.getItem("soundOn")) {
          audioTrue.play();
        }
      } else {
        if (this.$q.localStorage.getItem("soundOn")) {
          audioFalse.play();
        }
      }
      setTimeout(() => {
        document.documentElement.scrollTop =
          document.documentElement.scrollHeight;
      }, 500);
    },
    async nextpage() {
      let grammarDataarr = [];
      if (this.currentNo >= 10) {
        // let timeNow = await this.loadTime();
        await db
          .collection("reviewgrammar")
          .doc("lv" + this.studentData.level)
          .collection("data")
          .doc(this.studentData.key)
          .get()
          .then(doc => {
            if (!doc.exists) {
              db.collection("reviewgrammar")
                .doc("lv" + this.studentData.level)
                .collection("data")
                .doc(this.studentData.key)
                .set({
                  grammar: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                });
            }
          });

        //Check old score
        db.collection("reviewgrammar")
          .doc("lv" + this.studentData.level)
          .collection("data")
          .doc(this.studentData.key)
          .collection("data")
          .doc("q" + this.quizno)
          .get()
          .then(data => {
            db.collection("reviewgrammar")
              .doc("lv" + this.studentData.level)
              .collection("data")
              .doc(this.studentData.key)
              .get()
              .then(data => {
                grammarDataarr = data.data().grammar;
                if (this.scoreTotal >= 5) {
                  if (grammarDataarr[this.quizno - 1] < this.scoreTotal) {
                    grammarDataarr[this.quizno - 1] = this.scoreTotal;
                    db.collection("reviewgrammar")
                      .doc("lv" + this.studentData.level)
                      .collection("data")
                      .doc(this.studentData.key)
                      .set({
                        grammar: grammarDataarr
                      });
                  }
                }
              });
            this.showMode = 3;
          });
      } else {
        this.currentNo += 1;
        this.showMode = 1;
      }
    },
    backBtn() {
      this.$router.push("/grammarpractice");
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style scoped>
.fontText {
  font-size: 4vw;
}
.box {
  border: 1px solid #0f2753;
}
.mainDiv {
  width: 400px;
  height: 780px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;
}
.btn {
  width: 100%;
  height: 65px;
}
.borderdash {
  border: 1px dashed black;
}
.questiondiv {
  height: 200px;
  border: 1px dashed black;
  border-radius: 10px;
}
</style>