<template>
  <div>
    <!-- main div -->
    <div class="row logindiv content-start absolute-center">
      <!-- รูปภาพ -->
      <div class="fixed-center q-pa-md box">
        <div class="text-center q-pa-md">
          <img src="../statics/image/logo.png" class="logo" />
        </div>
        <!-- Input user -->
        <div class="q-py-sm">
          <q-input
            class="bg"
            ref="user"
            outlined
            square
            v-model.trim="input.user"
            label="ชื่อผู้ใช้งาน"
          />
        </div>
        <!-- Input password -->
        <div class="q-py-sm">
          <q-input
            class="bg"
            outlined
            square
            v-model.trim="input.password"
            label="รหัสผ่าน"
            type="password"
          />
        </div>
        <!-- Login Btn -->
        <div>
          <q-btn label="เข้าสู่ระบบ" class="btnlogin q-mt-sm btn" @click="login()" />
        </div>
        <div class="q-pa-xl"></div>
      </div>
      <div class="absolute-bottom-right q-mr-md q-mb-md color2">V {{appVersion}}</div>
    </div>
  </div>
</template>

<script>
// Import database
import { db } from "../router/index.js";
export default {
  data() {
    return {
      input: {
        user: "",
        password: ""
      }
    };
  },
  methods: {
    login() {
      //check การกรอกข้อมูล
      if (this.input.user.length <= 3 || this.input.password.length == 0) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      } else {
        //หา schoolCode
        let schoolCode = this.input.user.substring(0, 3);

        if (schoolCode == "301") {
          this.notifyRed("ไม่สามารถเข้าสู่ระบบได้");
          return;
        }

        //ดึงข้อมูลนักเรียน

        db.collection("school")
          .doc(schoolCode)
          .collection("student")
          .where("username", "==", this.input.user)
          .where("password", "==", this.input.password)
          .get()
          .then(doc => {
            if (doc.size == 0) {
              this.notifyRed("ชื่อผู้ใช้งาน/รหัสผ่านไม่ถูกต้อง");
              return;
            } else {
              let studentData = doc.docs[0].data();

              let studentId = doc.docs[0].id;
              let dataFinal = doc.docs[0].data();
              dataFinal.key = doc.docs[0].id;
              //ดึงข้อมูล course
              db.collection("course")
                .where("studentid", "==", studentId)
                .get()
                .then(doc2 => {
                  let courseData = [];
                  doc2.forEach(data2 => {
                    courseData.push(data2.data());
                  });
                  courseData.sort((a, b) => {
                    return a.timestamp - b.timestamp;
                  });
                  dataFinal.level = courseData[courseData.length - 1].grammarlv;
                  this.$q.localStorage.set("studentData", dataFinal);
                  this.$q.localStorage.set("currentPage", "/menu");

                  this.$router.push("/menu");
                });
            }
          });
      }
    },
    checklogin() {
      let local = this.$q.localStorage.getItem("studentData");
      if (local == "" || local == null) {
      } else {
        this.$router.push("/welcomeback");
      }
    },
    loadData() {}
  },
  mounted() {
    this.$q.localStorage.set("soundOn", true);
    this.loadData();
    this.checklogin();
    this.$refs.user.focus();
  }
};
</script>

<style scoped>
.box {
  width: 100%;
  max-width: 400px;
}
.logo {
  width: 200px;
  height: 200px;
}
.bg {
  background: #ffffff;
}
.btn {
  color: #ffffff;
  background: #42cb58;
}
.logindiv {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background: #0f2753;
}
.btnlogin {
  width: 100%;
}
</style>