<template>
  <div>
    <div class="bgImage">
      <!--Main div  -->
      <div class="row" style="max-width:1440px; width:100%; margin:auto">
        <!-- pc -->
        <div class="col-12 row q-px-xl desktop-only" align="center">
          <!-- Vocab zone -->
          <div class="col-6 relative-position" style="height: calc(100vh - 100px)">
            <div class="absolute-center frameVocabOpa"></div>

            <div class="absolute-center q-pa-xl frameVocab" align="center">
              <div class="q-py-sm">
                <img style="width:100%" src="../statics/image/vocab.png" />
              </div>
              <div class="q-py-sm">
                <div class="btnVocab q-py-sm cursor-pointer" @click="flashcardBtn()">ตำราคำศัพท์</div>
              </div>
              <div class="q-py-sm">
                <div class="btnVocab q-py-sm cursor-pointer" @click="popWordBtn()">คำศัพท์จานด่วน</div>
              </div>
              <div class="q-py-sm">
                <div
                  class="btnVocab q-py-sm cursor-pointer"
                  @click="vocabPracticeBtn()"
                >แบบฝึกหัดคำศัพท์</div>
              </div>
            </div>
          </div>
          <!-- grammar zone -->
          <div class="col-6 relative-position">
            <div class="absolute-center frameGrammarOpa"></div>
            <div class="absolute-center q-pa-xl frameGrammar" align="center">
              <div class="q-py-sm">
                <img style="width:100%" src="../statics/image/grammar.png" />
              </div>
              <div class="q-py-sm">
                <div
                  class="cursor-pointer btnGrammar q-py-sm"
                  @click="grammarBookBtn()"
                >ตำราไวยากรณ์</div>
              </div>
              <div class="q-py-sm">
                <div
                  class="btnGrammar q-py-sm cursor-pointer"
                  @click="grammarPracticeBtn()"
                >แบบฝึกหัดไวยากรณ์</div>
              </div>
            </div>
          </div>
        </div>

        <!-- mobile -->
        <div
          class="col-12 row q-pa-sm mobile-only bgImageMobile orientation-portrait"
          align="center"
        >
          <!-- Vocab zone -->
          <div class="col-12">
            <div class="q-py-sm">
              <img style="width:70%" src="../statics/image/vocab.png" />
            </div>
            <div class="q-py-sm">
              <div class="btnVocab q-py-xs cursor-pointer" @click="flashcardBtn()">ตำราคำศัพท์</div>
            </div>
            <div class="q-py-sm">
              <div class="btnVocab q-py-xs cursor-pointer" @click="popWordBtn()">คำศัพท์จานด่วน</div>
            </div>
            <div class="q-py-sm">
              <div
                class="btnVocab q-py-xs cursor-pointer"
                @click="vocabPracticeBtn()"
              >แบบฝึกหัดคำศัพท์</div>
            </div>
          </div>
          <!-- grammar zone -->
          <div class="col-12 q-pt-md">
            <div class="q-py-sm">
              <img style="width:70%" src="../statics/image/grammar.png" />
            </div>
            <div class="q-py-sm">
              <div class="btnGrammar q-py-xs cursor-pointer" @click="grammarBookBtn()">ตำราไวยากรณ์</div>
            </div>
            <div class="q-py-sm">
              <div
                class="btnGrammar q-py-xs cursor-pointer"
                @click="grammarPracticeBtn()"
              >แบบฝึกหัดไวยากรณ์</div>
            </div>
          </div>
        </div>
        <rotate />
      </div>
    </div>
  </div>
</template>

<script>
import rotate from "../components/dontsleep.vue";
export default {
  components: {
    rotate
  },
  data() {
    return {};
  },
  methods: {
    // ไปหน้า Flashcard
    flashcardBtn() {
      this.$router.push("/flashcardmain");
    },
    // ไปหน้า Popword
    popWordBtn() {
      this.$router.push("/popwordmenu");
    },
    vocabPracticeBtn() {
      this.$router.push("/vocabpractice");
    },
    grammarBookBtn() {
      this.$router.push("/grammarbook");
    },
    grammarPracticeBtn() {
      this.$router.push("/grammarpractice");
    }
  },
  mounted() {}
};
</script>

<style scoped>
.maindiv {
  width: 400px;
  height: 780px;
  border: 1px solid black;
}
.allbtn {
  width: 90%;
  height: 100px;
}
.btnVocab {
  background-color: #eb6500;
  width: 85%;
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px;
}
.frameVocab {
  max-width: 500px;
  width: 90%;
  height: 450px;
  border: 5px solid #eb6500;
  border-radius: 30px;
}
.frameVocabOpa {
  max-width: 500px;
  width: 90%;
  height: 450px;
  background-color: #ffffff;
  opacity: 30%;
  border-radius: 30px;
}

.btnGrammar {
  background-color: #b2137a;
  width: 85%;
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px;
}
.frameGrammar {
  max-width: 500px;
  width: 90%;
  height: 450px;
  border: 5px solid #b2137a;
  border-radius: 30px;
}
.frameGrammarOpa {
  max-width: 500px;
  width: 90%;
  height: 450px;
  background-color: #ffffff;
  opacity: 30%;
  border-radius: 30px;
}

/* .bgImage {
  width: 100%;
  height: 100vh;
  background-image: url("../statics/image/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
</style>