<template>
  <div>
    <div class="desktop-only bgImage">
      <div>
        <div class="absolute-center row" v-if="modeShow == 0">
          <div class="self-center text-center col-12 text-h4">
            <img style="width:500px;" src="../statics/image/pizzaLoading.gif" />
          </div>
        </div>
        <!-- end of loading page -->

        <!-- practice page -->
        <div class="row content-start" v-if="modeShow == 1">
          <div class="col-12" style="height:100px;"></div>

          <div class="row justify-center col-12">
            <div
              class="text-body1 row justify-between"
              style="width:100%; max-width:1000px;"
              align="right"
            >
              <span class="q-pt-xs text-h6">คำถาม: {{ currentNo }} / 5</span>
              <span
                class="brx q-pa-xs q-px-md text-h6"
                style=" border-radius: 20px"
              >คะแนน {{ score }}</span>
            </div>
          </div>

          <div class="col-12" style="height:20px;"></div>
          <div style="width:100%">
            <div class="row justify-center">
              <div class="text-center bg3">
                <div class="relative-position">
                  <div class="text-h5 text-white" style="width:1000px; height:200px ">
                    <div class="absolute-center">
                      <div>คำใดมีความหมาย</div>
                      <div class="q-px-md q-py-md">{{ showData.question}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" style="height:30px;"></div>
          <div class="col-12 row justify-center">
            <div class="row" style="width:1000px;">
              <div class="q-pr-sm col-6">
                <q-btn
                  :disable="isanswer == false"
                  size="lg"
                  :label="showData.answer1"
                  :class="{
                    'bg-red': answerIndex1 == 2,
                    'bg-green': answerIndex1 == 1,
                    'text-white': answerIndex1 > 0
                  }"
                  class="btn brx bg-white"
                  @click="answer(1)"
                />
              </div>
              <div class="q-pl-sm col-6">
                <q-btn
                  :disable="isanswer == false"
                  size="lg"
                  :label="showData.answer2"
                  class="btn brx bg-white"
                  @click="answer(2)"
                  :class="{
                    'bg-red': answerIndex2 == 2,
                    'bg-green': answerIndex2 == 1,
                    'text-white': answerIndex2 > 0
                  }"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- end of practice page -->

        <!-- summary page -->
        <div class="row justify-center bgImageMobile" v-if="modeShow == 2">
          <div class="col-12" style="height:80px;"></div>
          <div class="q-py-xl">
            <div class="col-12 text-center">
              <q-circular-progress
                show-value
                font-size="24px"
                class="color2 q-ma-md"
                :value="(scoreTotal / 5) * 100"
                size="100px"
                :thickness="0.15"
                style="background-color: #0f2753;border-radius:50px "
              >{{ scoreTotal }}/5</q-circular-progress>
              <div class="col-12 text-center text-h6">คะแนน {{ score }}</div>
            </div>
            <div align="center">
              <div class="q-py-sm text-h6 col-12 text-left" style="width:480px">คำอธิบาย</div>
              <div class="col-12 bg-white brx" v-for="i in 5" :key="i" style="width:480px">
                <q-list bordered class="rounded-borders text-body1 text-left">
                  <q-expansion-item>
                    <template v-slot:header>
                      <q-item-section avatar>
                        <q-icon
                          name="fas fa-check"
                          class="text-green"
                          v-show="answerCI[i - 1] == 1"
                        />
                        <q-icon name="fas fa-times" class="text-red" v-show="answerCI[i - 1] == 0" />
                      </q-item-section>
                      <q-item-section>
                        คำที่มีความหมาย
                        {{ questionData[i - 1].question }} ?
                      </q-item-section>
                    </template>

                    <q-card class="bg-white q-pl-md brx">
                      <q-card-section>
                        <div class="q-px-md">
                          <div>
                            <q-icon
                              name="fas fa-check"
                              class="text-green"
                              v-if="questionData[i - 1].correctAnswer == 1"
                            />
                            <q-icon
                              name="fas fa-times"
                              class="text-red"
                              v-if="questionData[i - 1].correctAnswer == 2"
                            />
                            <span class="q-px-sm">
                              {{ questionData[i - 1].choice1 }} =
                              {{ questionData[i - 1].meaning1 }}
                            </span>
                          </div>
                          <div>
                            <q-icon
                              name="fas fa-times"
                              class="text-red"
                              v-if="questionData[i - 1].correctAnswer == 1"
                            />
                            <q-icon
                              name="fas fa-check"
                              class="text-green"
                              v-if="questionData[i - 1].correctAnswer == 2"
                            />
                            <span class="q-px-sm">
                              {{ questionData[i - 1].choice2 }} =
                              {{ questionData[i - 1].meaning2 }}
                            </span>
                          </div>
                        </div>
                      </q-card-section>
                    </q-card>
                  </q-expansion-item>
                </q-list>
              </div>
            </div>
            <div class="col-12 row justify-center q-pt-md">
              <div style="width:480px">
                <div class="q-pb-sm">
                  <q-btn
                    label="เล่นต่อ"
                    class="btn bg1 text-white"
                    size="lg"
                    @click="genQuestion()"
                  />
                </div>
                <div class="q-pt-sm">
                  <q-btn
                    label="กลับหน้าแรก"
                    class="btn brx color1 bg-white"
                    size="lg"
                    @click="backBtn()"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- loading page -->
    <div class="mobile-only bgImage orientation-portrait">
      <div class="absolute-center" v-if="modeShow == 0">
        <div>
          <img style="width:150px;height:150px" src="../statics/image/pizzaLoading.gif" />
        </div>
      </div>
      <!-- end of loading page -->

      <!-- practice page -->
      <div class="row content-start" v-if="modeShow == 1">
        <div class="col-12" style="height:30px;"></div>
        <div class="col-12 text-body1 q-px-md row justify-between" align="right">
          <span class="q-pt-xs">คำถาม: {{ currentNo }} / 5</span>
          <span class="brx q-pa-xs q-px-md" style=" border-radius: 20px">คะแนน {{ score }}</span>
        </div>

        <div class="col-12 text-center q-pa-md">
          <div class="bg1 text-white relative-position" style="width:100%;height:150px">
            <div class="self-center text-h6 absolute-center" style="width:100%;">
              คำใดมีความหมาย
              <br />
              {{ showData.question }}
            </div>
          </div>
        </div>

        <div class="col-12 q-px-md q-py-sm">
          <q-btn
            size="lg"
            style="width:100%"
            :label="showData.answer1"
            :class="{
              'bg-red': answerIndex1 == 2,
              'bg-green': answerIndex1 == 1,
              'text-white': answerIndex1 > 0
            }"
            class="bg-white color1"
            @click="answer(1)"
          />
        </div>
        <div class="col-12 q-px-md q-py-sm">
          <q-btn
            size="lg"
            style="width:100%"
            :label="showData.answer2"
            class="bg-white color1"
            @click="answer(2)"
            :class="{
              'bg-red': answerIndex2 == 2,
              'bg-green': answerIndex2 == 1,
              'text-white': answerIndex2 > 0
            }"
          />
        </div>
      </div>
      <!-- end of practice page -->

      <!-- summary page -->
      <div class="row bgImageMobile" v-if="modeShow == 2">
        <div class="col-12 text-center">
          <q-circular-progress
            show-value
            font-size="24px"
            class="color2 q-ma-md"
            :value="(scoreTotal / 5) * 100"
            size="100px"
            :thickness="0.15"
            style="background-color: #0f2753;border-radius:50px "
          >{{ scoreTotal }}/5</q-circular-progress>
        </div>
        <div class="col-12 text-center text-h6">คะแนน {{ score }}</div>
        <div class="q-px-md text-h6 col-12">คำอธิบาย</div>
        <div class="col-12" v-for="i in 5" :key="i">
          <q-list bordered class="rounded-borders bg-white brx q-mx-md">
            <q-expansion-item>
              <template v-slot:header>
                <q-item-section avatar>
                  <q-icon name="fas fa-check" class="text-green" v-show="answerCI[i - 1] == 1" />
                  <q-icon name="fas fa-times" class="text-red" v-show="answerCI[i - 1] == 0" />
                </q-item-section>
                <q-item-section>
                  คำที่มีความหมาย
                  {{ questionData[i - 1].question }} ?
                </q-item-section>
              </template>

              <q-card class="bg-white">
                <q-card-section>
                  <div class="q-px-lg">
                    <div>
                      <q-icon
                        name="fas fa-check"
                        class="text-green q-px-md"
                        v-if="questionData[i - 1].correctAnswer == 1"
                      />
                      <q-icon
                        name="fas fa-times"
                        class="text-red q-px-md"
                        v-if="questionData[i - 1].correctAnswer == 2"
                      />
                      {{ questionData[i - 1].choice1 }} =
                      {{ questionData[i - 1].meaning1 }}
                    </div>
                    <div>
                      <q-icon
                        name="fas fa-times"
                        class="text-red q-px-md"
                        v-if="questionData[i - 1].correctAnswer == 1"
                      />
                      <q-icon
                        name="fas fa-check"
                        class="text-green q-px-md"
                        v-if="questionData[i - 1].correctAnswer == 2"
                      />
                      {{ questionData[i - 1].choice2 }} =
                      {{ questionData[i - 1].meaning2 }}
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>

        <div class="col-12 q-pa-md">
          <q-btn
            label="เล่นต่อ"
            class="q-my-xs bg3 text-white"
            style="width:100%"
            size="lg"
            @click="genQuestion()"
          />
          <q-btn
            label="กลับหน้าแรก"
            class="q-my-xs brx color1 bg-white"
            style="width:100%"
            size="lg"
            @click="backBtn()"
          />
        </div>
        <!-- </div> -->
        <!-- end of summary page -->
      </div>
    </div>
    <rotate />
  </div>
</template>

<script>
import rotate from "../components/dontsleep.vue";
import { db } from "../router/index.js";
import { async } from "q";
export default {
  components: {
    rotate
  },
  data() {
    return {
      isanswer: true,
      unitType: this.$route.params.unittype, //1 midterm unit 1-6 // 2 final unit 7-12 // 3 all unit
      studentData: this.$q.localStorage.getItem("studentData"),
      vocabData: [], //เก็บคำศัพท์ทั้งหมด
      questionNo: 0, //รันเลขข้อ 1-5
      questionData: [], //ข้อมูลคำถามคำตอบ
      showData: {
        question: "",
        answer1: "",
        answer2: ""
      }, //ข้อมูลแสดงในหน้าคำถามแต่ละครั้ง
      currentNo: 1, //ข้อปัจจุบันที่ทำงานอยู่
      score: 0, //คะแนนทั้งหมดเชื่อมกับ database
      answerIndex1: 0, //0 = white ,1 =green, 2 =red การเปลี่ยนสีของปุ่มแรก เมื่อผู้ใช้ตอบ
      answerIndex2: 0, //0 = white ,1 =green, 2 =red การเปลี่ยนสีของปุ่มสอง เมื่อผู้ใช้ตอบ
      answerCI: [], //ผลการตอบถูกผิดในแต่ละข้อ เพื่อนำไปใช้ในหน้าสรุป
      modeShow: 0, //โหมดการแสดงหน้า 1 = loading /2 = คำถาม /3= สรุป
      scoreTotal: 0, //คะแนนในแต่ะรอบ 0-5
      soundServer: "https://api.winner-english.com/data/sound_flashcard/",
      soundFail: "../statics/fail.mp3"
    };
  },
  methods: {
    backBtn() {
      this.$router.push("/popwordmenu");
    },
    // respond การตอบส่งค่า 1,2
    answer(choice) {
      this.isanswer = false;
      if (choice == 1) {
        if (this.questionData[this.questionNo].correctAnswer == 1) {
          //กรณีตอบข้อแรกแล้วถูก
          this.playSound(
            this.soundServer + this.questionData[this.questionNo].choice1Sound
          );
          this.answerIndex1 = 1;
          this.score += 10;
          this.answerCI.push(1);
          this.saveScore();
          this.scoreTotal += 1;
        } else {
          //กรณีตอบข้อแรกแล้วผิด
          this.playSound(this.soundFail);
          this.answerIndex1 = 2;
          this.answerCI.push(0);
          this.score -= 5;
          this.scoreTotal -= 0.5;
          this.saveScore();
        }
      } else {
        if (this.questionData[this.questionNo].correctAnswer == 2) {
          //กรณีตอบข้อสองแล้วถูก
          this.playSound(
            this.soundServer + this.questionData[this.questionNo].choice2Sound
          );
          this.answerIndex2 = 1;
          this.score += 10;
          this.answerCI.push(1);
          this.saveScore();
          this.scoreTotal += 1;
        } else {
          //กรณีตอบข้อสองแล้วผิด
          this.playSound(this.soundFail);
          this.answerIndex2 = 2;
          this.answerCI.push(0);
          this.score -= 5;
          this.scoreTotal -= 0.5;
          this.saveScore();
        }
      }
      //เปลี่ยนเลขช้อ และ ทำการหน่วงเวลาในการเปลี่ยนข้อ
      this.questionNo++;
      setTimeout(() => {
        this.isanswer = true;
        this.answerIndex1 = 0;
        this.answerIndex2 = 0;
        this.currentNo++;
        this.showQuestion();
      }, 2000);
    },

    //เก็บคะแนนลง database
    async saveScore() {
      //หาเวลาปัจจุบัน
      let timeNow = await this.loadTime();
      db.collection("popquizvocab")
        .doc("lv" + this.studentData.level)
        .collection("data")
        .doc(this.studentData.key)
        .set({
          score: this.score,
          timestamp: timeNow
        });
    },

    //โหลดคะแนนตอนเริ่มต้น
    async loadScore() {
      await db
        .collection("popquizvocab")
        .doc("lv" + this.studentData.level)
        .collection("data")
        .doc(this.studentData.key)
        .get()
        .then(data => {
          if (!data.exists) {
            this.score = 0;
          } else {
            this.score = data.data().score;
          }
        });
    },
    playSound(file) {
      if (this.$q.localStorage.getItem("soundOn")) {
        var audio = new Audio(file);
        audio.play();
      }
    },
    //load ข้อมูลคำศัพท์ลง vocabData
    async loadvocab() {
      //สร้าง vocablist ตามข้อกำหนด unitType //1 midterm unit 1-6 // 2 final unit 7-12 // 3 all unit
      this.currentNo = 1;
      let iStart;
      let iEnd;
      if (this.unitType == 1) {
        iStart = 1;
        iEnd = 6;
      } else if (this.unitType == 2) {
        iStart = 6;
        iEnd = 12;
      } else if (this.unitType == 3) {
        iStart = 1;
        iEnd = 16;
      }
      //วน loop เก็บคำศัพท์และข้อมูลที่จำเป็นไว้ใน ตัวแปร vocabData
      for (let i = iStart; i <= iEnd; i++) {
        let levelSet = "L" + this.studentData.level + "U" + i;
        await db
          .collection("practicelist")
          .doc("data")
          .collection(levelSet)
          .where("practicetype", "==", "flashcard")
          .get()
          .then(doc => {
            doc.forEach(async data => {
              await db
                .collection("flashcard")
                .doc(data.id)
                .collection("server")
                .get()
                .then(doc2 => {
                  doc2.forEach(data2 => {
                    let dataTemp = {
                      vocab: data2.data().vocabulary,
                      meaning: data2.data().meaning,
                      unit: i,
                      key: data2.id
                    };
                    this.vocabData.push(dataTemp);
                  });
                });
            });
          });
      }
      //สร้างชุดคำถาม
      setTimeout(() => {
        this.genQuestion();
      }, 2000);
    },
    genQuestion() {
      this.answerCI = [];
      this.questionData = [];
      this.scoreTotal = 0;
      this.currentNo = 1;
      //สร้างชุดคำสั่งทีละ 5 ข้อ
      for (let j = 1; j <= 5; j++) {
        //สุ่มเลือกคำศัพท์ที่จะมาเป็นโจทย์ ข้อถูก และความหมาย

        let qno = this._.random(1, this.vocabData.length);

        let question = [];
        question.answerCorrect = this.vocabData[qno - 1].vocab;
        question.answerCorrectSound =
          this.vocabData[qno - 1].key.toLowerCase() + ".mp3";
        let unitQuestion = this.vocabData[qno - 1].unit;
        question.question = this.vocabData[qno - 1].meaning;
        let unitAnswer = 0;
        //เลือกข้อผิดโดยห้ามอยู่ unit เดียวกับข้อที่ถูก
        do {
          let qans = this._.random(1, this.vocabData.length);
          unitAnswer = this.vocabData[qans - 1].unit;
          question.answerIncorrect = this.vocabData[qans - 1].vocab;
          question.meaningIncorrect = this.vocabData[qans - 1].meaning;
          question.correctId = this._.random(1, 2);
        } while (unitAnswer == unitQuestion);
        let dataTemp;

        if (question.correctId == 1) {
          //กรณีคำตอบที่ถูกอยู่ใน choice แรก
          dataTemp = {
            question: question.question,
            choice1: question.answerCorrect,
            choice1Sound: question.answerCorrectSound,
            choice2: question.answerIncorrect,
            choice2Sound: "0",
            meaning1: question.question,
            meaning2: question.meaningIncorrect,
            correctAnswer: 1
          };
        } else {
          //กรณีคำตอบที่ถูกอยู่ใน choice สอง
          dataTemp = {
            question: question.question,
            choice1: question.answerIncorrect,
            choice1Sound: "0",
            choice2: question.answerCorrect,
            choice2Sound: question.answerCorrectSound,
            meaning2: question.question,
            meaning1: question.meaningIncorrect,
            correctAnswer: 2
          };
        }
        // เพิ่มข้อมูลคำถามลงในตัวแปร questionData
        this.questionData.push(dataTemp);
      }
      this.modeShow = 1;
      this.questionNo = 0;
      //เรียกฟังก์ชั่นแสดงโจทย์

      this.showQuestion();
    },
    showQuestion() {
      // ควบคุมการ flow ของโจทย์
      if (this.questionNo >= 5) {
        //กรณีครบ 5 เปลียนเป็นหน้าเฉลย
        this.modeShow = 2;
        return;
      } else {
        //แสดงโจทย์
        this.showData.question = this.questionData[this.questionNo].question;
        this.showData.answer1 = this.questionData[this.questionNo].choice1;
        this.showData.answer2 = this.questionData[this.questionNo].choice2;
      }
    }
  },
  mounted() {
    console.log(this.$q.localStorage.getItem("soundOn"));
    this.loadScore();
    this.loadvocab();
  }
};
</script>

<style scoped>
.maindiv {
  width: 100%;
  height: 780px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;
}
.questionDiv {
  height: 300px;
  border: 1px solid black;
}
.brx {
  border: 1px solid #0f2753;
}
.btn {
  width: 100%;
  height: 65px;
}
</style>
