<template>
  <div>
    <!-- mobile -->
    <div class="mobile-only orientation-portrait">
      <div class="bgImage">
        <div>
          <div class="row justify-center">
            <div class="col-12 relative-position box">
              <div
                style="width:100%"
                class="absolute-center color2 fontTitle text-center"
              >คำศัพท์จานด่วน</div>
              <img src="../statics/image/vocab/vocabBG-mobile.png" style="width:100%;height:100%" />
            </div>
            <div class="col-12 bg-white text-body1">
              <div>
                <div class="row box" @click="popword(1)">
                  <img src="../statics/image/vocab/review/1.png" class="photo q-ma-md" />
                  <span class="q-pt-md">Unit 1 - 6</span>
                </div>
              </div>
              <div>
                <div class="row box" @click="popword(2)">
                  <img src="../statics/image/vocab/review/2.png" class="photo q-ma-md" />
                  <span class="q-pt-md">Unit 7 - 12</span>
                </div>
              </div>
              <div>
                <div class="row box" @click="popword(3)">
                  <img src="../statics/image/vocab/review/3.png" class="photo q-ma-md" />
                  <span class="q-pt-md">Unit 1 - 16</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- desktop -->
    <div class="bgImage desktop-only">
      <div>
        <div>
          <div style="height:80px"></div>
          <div class="row">
            <div class="col-6 q-pt-md q-pl-md" align="right">
              <div class="relative-position" style=" max-width:650px; max-height:650px ">
                <span
                  style="width:100%; max-width:250px; max-height:250px"
                  class="text-center absolute-center text-h2 color2"
                >คำศัพท์จานด่วน</span>
                <img style="width:100%;heigth:650px " src="../statics/image/vocab/vocabBG.png" />
              </div>
            </div>
            <div class="col-6 q-pa-sm q-px-md">
              <div>
                <div class="q-py-sm cursor-pointer col-12 card self-center" @click="popword(1) ">
                  <div class="row bg-white card">
                    <img src="../statics/image/vocab/review/1.png" class="photo q-ma-md q-mx-md" />
                    <span class="q-pa-md text-h6">Unit 1 - 6</span>
                  </div>
                </div>

                <div class="q-py-sm cursor-pointer q-px-xs-xs col-12" @click="popword(2)">
                  <div class="row bg-white card">
                    <img src="../statics/image/vocab/review/2.png" class="photo q-ma-md q-mx-md" />
                    <span class="q-pa-md text-h6">Unit 7 - 12</span>
                  </div>
                </div>
                <div class="q-py-sm cursor-pointer q-px-xs-xs col-12" @click="popword(3)">
                  <div class="row bg-white card">
                    <img src="../statics/image/vocab/review/3.png" class="photo q-ma-md q-mx-md" />
                    <span class="q-pa-md text-h6">Unit 1 - 16</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <rotate />
  </div>
</template>

<script>
import rotate from "../components/dontsleep.vue";
import { db } from "../router/index.js";
export default {
  components: {
    rotate
  },
  data() {
    return {
      modeShow: true
    };
  },
  methods: {
    loadData() {},
    backBtn() {
      this.$router.push("/menu");
    },

    popword(type) {
      this.$router.push("/popword/" + type);
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style scoped>
.fontTitle {
  font-size: 8vw;
}
.box {
  border-bottom: 1px solid #0f2753;
  border-right: 1px solid #0f2753;
  border-left: 1px solid #0f2753;
}

.card {
  width: 100%;
  max-width: 640px;
}
.photo {
  width: 80px;
  height: 80px;
}
.mainindiv {
  height: 100vh;
}
</style>