<template>
  <div>
    <!-- **************สำหรับมือถือ -->
    <div class="mobile-only bgImage orientation-portrait">
      <div
        class="row justify-center absolute-center content-start q-pa-md"
        align="center"
        style="width:100%"
      >
        <!-- header -->
        <!-- <div class="col-12 bg-primary text-white q-pa-sm text-center row">
          <div class="col-2">
            <q-icon
              name="fas fa-chevron-left"
              class="cursor-pointer q-mt-xs"
              size="20px"
              @click="backBtn()"
            />
          </div>
          <div class="col-8 text-h6">Winner</div>
          <div class="col-2">
            <q-icon name="fas fa-sign-out-alt" class="cursor-pointer q-mt-xs" size="24px" />
          </div>
        </div>-->
        <!-- หนังสือ -->
        <div>
          <div class="imgzone q-pt-md col-12" style=" overflow:hidden;" v-show="imgside==0">
            <img :src="picData" alt style="width:200%;position:relative;
            top:5px;" />
          </div>
          <div class="imgzone q-mt-md" style="overflow:hidden" v-show="imgside==1">
            <img :src="picData" alt style="width:200%;position:relative;
    left:-100%;top:5px;
 " />
          </div>
          <!-- control -->
          <div class="row justify-between q-mt-md col-12">
            <div class="color1">
              <q-btn
                class="borderBtn text-body1"
                label="หน้าที่แล้ว"
                :disable="currentPage==1"
                @click="prevPage()"
              />
            </div>
            <div class="q-pb-sm q-px-md color1 text-h6">{{currentPage}}/{{totalPage}}</div>
            <div>
              <q-btn
                class="bg3 text-white text-body1"
                label="หน้าต่อไป"
                :disable="currentPage==totalPage"
                @click="nextPage()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- *************จบสำหรับมือถือ -->
    <!-- สำหรับ pc -->
    <div class="desktop-only bgImage">
      <div class="absolute-center imgzonePc row content-start q-pa-md" align="center">
        <!-- header -->
        <!-- <div class="col-12 bg2 color2 q-pa-sm text-center row">
          <div class="col-2">
            <q-icon
              name="fas fa-chevron-left"
              class="cursor-pointer q-mt-xs"
              size="20px"
              @click="backBtn()"
            />
          </div>
          <div class="col-8 color1 text-h6">ตำราไวยากรณ์</div>
          <div class="col-2">
            <q-icon name="fas fa-sign-out-alt" class="cursor-pointer q-mt-xs" size="24px" />
          </div>
        </div>-->
        <!-- หนังสือ -->

        <div class="q-mt-md col-12" style="overflow:hidden;">
          <img :src="picDataPc" alt style="width:100%;position:relative;
    top:20px;" />
        </div>

        <!-- control -->
        <div class="row q-mt-md col-12">
          <div class="col-3">
            <q-btn
              size="lg"
              class="color1 bg-white"
              label="หน้าที่แล้ว"
              :disable="currentPagePc==1"
              @click="prevPagePc()"
              style="width:100%;height:65px; border: 2px solid#0f2753;"
            />
          </div>
          <div class="col-6 q-pt-md color1 text-h6">{{currentPagePc}}/{{totalPagePc}}</div>
          <div class="col-3">
            <q-btn
              size="lg"
              class="bg3 text-white"
              label="หน้าต่อไป"
              :disable="currentPagePc==totalPagePc"
              @click="nextPagePc()"
              style="width:100%;height:65px"
            />
          </div>
        </div>
      </div>
    </div>
    <rotate />
  </div>
</template>

<script>
import rotate from "../components/dontsleep.vue";
import { db } from "../router/index.js";
export default {
  components: {
    rotate
  },
  data() {
    return {
      studentData: this.$q.localStorage.getItem("studentData"),
      unit: this.$route.params.unit,
      grammarKey: "",
      totalPage: 0,
      currentPage: 1,
      picServer: "https://api.winner-english.com/data/slide_grammar/",
      picData: "",
      imgside: 1,
      totalPagePc: 0,
      currentPagePc: 1,
      picDataPc: ""
    };
  },
  methods: {
    loadData() {
      let levelSet = "L" + this.studentData.level + "U" + this.unit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelSet)
        .where("practicetype", "==", "teaching VDO")
        .get()
        .then(doc => {
          doc.forEach(data => {
            if (data.data().order > 2000 && data.data().order < 3000) {
              this.grammarKey = data.id;
              db.collection("trainingvdo")
                .doc(this.grammarKey)
                .collection("slide")
                .get()
                .then(doc2 => {
                  this.totalPage = (doc2.size - 1) * 2 - 1;
                  this.totalPagePc = doc2.size - 1;
                });
            }
          });
        });
    },
    nextPage() {
      if (this.currentPage < this.totalPage) {
        this.currentPage++;
        this.showImg();
      }
    },
    prevPage() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.showImg();
      }
    },
    nextPagePc() {
      if (this.currentPagePc < this.totalPagePc) {
        this.currentPagePc++;
        this.showImgPc();
      }
    },
    prevPagePc() {
      if (this.currentPagePc > 1) {
        this.currentPagePc--;
        this.showImgPc();
      }
    },
    showImgPc() {
      let levelSet =
        "L" +
        ("0" + this.studentData.level).slice(-2) +
        "U" +
        ("0" + this.unit).slice(-2);
      this.picDataPc =
        this.picServer + levelSet + "/Slide" + this.currentPagePc + ".JPG";
    },
    showImg() {
      let fileNo = Math.floor(this.currentPage / 2) + 1;
      this.imgside = this.currentPage % 2;
      let levelSet =
        "L" +
        ("0" + this.studentData.level).slice(-2) +
        "U" +
        ("0" + this.unit).slice(-2);
      //fileSide=1:: right, fileSide=0::left

      // console.log(levelSet);
      this.picData = this.picServer + levelSet + "/Slide" + fileNo + ".JPG";
    },
    backBtn() {
      this.$router.push("/grammarbook");
    }
  },
  mounted() {
    this.loadData();
    this.showImg();
    this.showImgPc();
  }
};
</script>

<style scoped>
.maindiv {
  width: 400px;
  height: 780px;

  border: 1px solid black;
}
.maindiv2 {
  width: 800px;
  height: 780px;
  border: 1px solid black;
}
.imgzone {
  width: 100%;
  max-width: 400px;
}
.imgzonePc {
  width: 100%;
  max-width: 1000px;
}
.borderBtn {
  border: 2px solid#0f2753;
}
</style>