<template>
  <div>
    <div class="desktop-only">
      <div class="bgImage">
        <div style="height:80px"></div>
        <div class="row">
          <div class="col-6 q-pt-md q-pl-md" align="right">
            <div class="relative-position" style=" max-width:650px; max-height:650px ">
              <span
                style="width:100%; max-width:300px; max-height:300px"
                class="text-center absolute-center text-h2 color2"
              >ตำราไวยากรณ์</span>
              <div>
                <img style="width:100%;height:650px " src="../statics/image/vocab/vocabBG.png" />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="box-menu q-mt-md" style="width:100%; max-width:630px">
              <!-- header -->

              <!-- ครั้งที่ 1 -->
              <div
                class="bg-white cursor-pointer q-mb-md q-mx-md"
                v-for="i in 16"
                :key="i"
                @click="showbookBtn(i)"
              >
                <div class="q-py-xs self-center">
                  <div class="row">
                    <div class="q-pa-md">
                      <img class="photo" :src="'../statics/image/vocab/grammar/'+i+'.png'" />
                    </div>

                    <div class="text-h6 q-pt-sm text-grey-10" style="width:100%; max-width:350px">
                      Unit {{i}}
                      <br />
                      {{grammarTopic[i-1]}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- <div class="maindiv absolute-center row bg-deep-orange-1 content-start desktop-only"> -->
    <!-- header -->
    <!-- <div class="col-12 bg-primary text-white q-pa-sm text-center row" style="height:50px;">
      <div class="col-2">
        <q-icon
          name="fas fa-chevron-left"
          class="cursor-pointer q-mt-xs"
          size="20px"
          @click="backBtn()"
        />
      </div>
      <div class="col-8 text-h6">Winner</div>
      <div class="col-2">
        <q-icon name="fas fa-sign-out-alt" class="cursor-pointer q-mt-xs" size="24px" />
      </div>
    </div>-->
    <!-- img -->

    <!-- <div>
        <div
          v-for="i in 16"
          :key="i"
          class="q-ma-md q-pa-md borderdiv bg-primary text-white"
          @click="showbookBtn(i)"
        >Unit {{i}}. {{grammarTopic[i-1]}}</div>
    </div>-->
    <!-- </div> -->
    <!-- -------------------------------------------------------- -->
    <!-- mobile -->
    <div class="mobile-only bgImageMobile orientation-portrait">
      <div class="row">
        <div class="col-12 relative-position">
          <img src="../statics/image/vocab/vocabBG-mobile.png" style="width:100%;height:100%" />
          <div class="color2 absolute-center fontTitle">ตำราไวยากรณ์</div>
        </div>
      </div>
      <!-- สร้าง Unit 1-16 -->
      <div class="row box bg-white" v-for="i in 16" :key="i" @click="showbookBtn(i)">
        <div class="col-3 q-pt-sm q-pl-md" style="margin: auto;">
          <img :src="'../statics/image/vocab/grammar/'+i+'.png'" style="width:100%; width:70px" />
        </div>

        <div class="col-9 text-body1 text-grey-10 q-py-md q-px-md">
          Unit {{i}}
          <br />
          {{grammarTopic[i-1]}}
        </div>
        <div class="col-12"></div>
      </div>
    </div>
    <rotate />
  </div>
</template>

<script>
import rotate from "../components/dontsleep.vue";
import { db } from "../router/index.js";
export default {
  components: {
    rotate
  },
  data() {
    return {
      grammarTopic: [],
      studentData: this.$q.localStorage.getItem("studentData")
    };
  },
  methods: {
    loadTopic() {
      //find prictice key
      for (let unit = 1; unit <= 16; unit++) {
        let levelSet = "L" + this.studentData.level + "U" + unit;
        db.collection("practicelist")
          .doc("data")
          .collection(levelSet)
          .where("practicetype", "==", "teaching VDO")
          .get()
          .then(doc => {
            doc.forEach(data => {
              if (data.data().order > 2000 && data.data().order < 3000) {
                this.grammarTopic.push(data.data().name);
              }
            });
          });
      }
    },
    showbookBtn(unit) {
      this.$router.push("/grammarcontent/" + unit);
    },
    backBtn() {
      this.$router.push("/menu");
    }
  },
  mounted() {
    this.loadTopic();
  }
};
</script>

<style scoped>
.photo {
  width: 80px;
  height: 80px;
}
.maindiv {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;
}
.borderdiv {
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 10px;
}
.box {
  border-bottom: 1px solid #0f2753;
  border-right: 1px solid #0f2753;
  border-left: 1px solid #0f2753;
}
.box-menu {
  height: 650px;
  overflow-y: auto;
}

.box-menu::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.box-menu::-webkit-scrollbar-track {
  background: #0f2753;
  border: 6px solid #faf5e2;
}

/* Handle */
.box-menu::-webkit-scrollbar-thumb {
  background: #42cb85;
  border-radius: 10px;
  border: 1px solid #faf5e2;
}
.fontTitle {
  font-size: 8vw;
}
</style>