<template>
  <div>
    <!-- desktop -->
    <div class="desktop-only bgImage">
      <div>
        <!-- loading page -->
        <div class="absolute-center row" v-if="showMode==0">
          <img style="width:500px;" src="../statics/image/pizzaLoading.gif" />
        </div>
        <!-- ***********หน้าคำถาม -->
        <div
          class="absolute-center q-px-md text-h6"
          style="width:100%;max-width:1000px;height:700px"
          v-if="showMode==1"
        >
          <!-- header -->

          <div class="q-my-md">คำถาม: {{currentNo}}/10</div>
          <!-- คำสั่ง -->

          <div
            class="q-my-md"
            v-html="vocabUse[
            currentNo - 1
            ].instructionThai"
          >
            <!-- {{vocabUse[
            currentNo - 1
            ].instructionThai}}-->
          </div>

          <!-- คำถาม -->
          <div class="relative-position" style="height:200px;  background-color: #0f2753">
            <div
              class="q-my-md q-pa-md text-white absolute-center"
              v-html="vocabUse[
        currentNo - 1
        ].question"
            ></div>
          </div>

          <!-- คำตอบ -->
          <div class="row q-pt-md">
            <div class="q-my-sm q-pr-md col-6">
              <q-btn
                size="lg"
                class="btn box bg-white"
                v-html="vocabUse[
        currentNo - 1
        ].choice1"
                no-caps
                @click="answer(1)"
              ></q-btn>
            </div>
            <div class="q-my-sm q-pl-md col-6">
              <q-btn
                size="lg"
                class="btn box bg-white"
                v-html="vocabUse[
        currentNo - 1
        ].choice2"
                no-caps
                @click="answer(2)"
              ></q-btn>
            </div>
            <div
              class="q-my-sm q-pr-md col-6"
              v-show="vocabUse[
        currentNo - 1
        ].choice3.length>0"
            >
              <q-btn
                size="lg"
                class="btn box bg-white"
                v-html="vocabUse[
        currentNo - 1
        ].choice3"
                no-caps
                @click="answer(3)"
              ></q-btn>
            </div>
            <div
              class="q-my-sm q-pl-md col-6"
              v-show="vocabUse[
        currentNo - 1
        ].choice4.length>0"
            >
              <q-btn
                size="lg"
                class="btn box bg-white"
                v-html="vocabUse[
        currentNo - 1
        ].choice4"
                no-caps
                @click="answer(4)"
              ></q-btn>
            </div>
          </div>
        </div>
        <!-- ***************หน้าเฉลย -->
        <div
          class="absolute-center q-px-md text-h6"
          style="width:100%;max-width:1000px;height:700px"
          v-if="showMode==2"
        >
          <!-- header -->

          <div class="q-my-md">คำถาม: {{currentNo}}/10</div>
          <!-- คำสั่ง -->
          <div class="q-my-md">
            {{vocabUse[
            currentNo - 1
            ].instructionThai}}
          </div>

          <!-- คำถาม -->
          <div class="relative-position" style="height:200px;  background-color: #0f2753">
            <div
              class="text-white q-my-md q-pa-md absolute-center"
              v-html="vocabUse[
        currentNo - 1
        ].question"
            ></div>
          </div>

          <!-- คำตอบ -->
          <div class="row q-pt-md">
            <div class="q-py-sm q-pr-md col-6">
              <q-btn
                size="lg"
                class="btn box bg-white"
                v-html="vocabUse[
        currentNo - 1
        ].choice1"
                no-caps
                :class="{'bg-green':vocabUse[currentNo -1].correctAnswer==1,'bg-red':studentAnswer==1 }"
              ></q-btn>
            </div>
            <div class="q-py-sm q-pl-md col-6">
              <q-btn
                size="lg"
                class="btn box bg-white"
                v-html="vocabUse[
        currentNo - 1
        ].choice2"
                no-caps
                :class="{'bg-green':vocabUse[currentNo -1].correctAnswer==2,'bg-red':studentAnswer==2 }"
              ></q-btn>
            </div>
            <div class="q-py-sm q-pr-md col-6">
              <q-btn
                v-show="vocabUse[
        currentNo - 1
        ].choice3.length>0"
                size="lg"
                class="btn box bg-white"
                v-html="vocabUse[
        currentNo - 1
        ].choice3"
                no-caps
                :class="{'bg-green':vocabUse[currentNo -1].correctAnswer==3,'bg-red':studentAnswer==3 }"
              ></q-btn>
            </div>
            <div class="q-py-sm q-pl-md col-6">
              <q-btn
                v-show="vocabUse[
        currentNo - 1
        ].choice4.length>0"
                size="lg"
                class="btn box bg-white"
                v-html="vocabUse[
        currentNo - 1
        ].choice4"
                no-caps
                :class="{'bg-green':vocabUse[currentNo -1].correctAnswer==4,'bg-red':studentAnswer==4 }"
              ></q-btn>
            </div>
            <!-- คำเฉลย -->
            <div
              class="col-12 bg-white q-my-md q-pa-md borderdash"
              v-html="vocabUse[currentNo-1].description"
            >
              <!-- คำอธิบาย
              <br />-->
              <!-- {{vocabUse[currentNo-1].description}} -->
            </div>
          </div>
          <div class="col-12 row justify-center">
            <div class="q-ma-md col-6">
              <q-btn class="btn bg1 text-white" size="lg" @click="nextpage()">ข้อต่อไป</q-btn>
            </div>
          </div>
        </div>

        <!-- หน้าสรุป -->
        <div class="absolute-center" v-if="showMode==3">
          <div class="row">
            <div class="col-12 text-center">
              <q-circular-progress
                show-value
                font-size="50px"
                class="color2 q-ma-md"
                :value="scoreTotal/10*100"
                size="150px"
                :thickness="0.15"
                style="background-color: #0f2753;border-radius:100px "
              >{{scoreTotal}}/10</q-circular-progress>
            </div>
            <div class="q-px-md q-my-sm col-12" align="center">
              <div>
                <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <5" />
                <q-icon
                  name="fas fa-star"
                  size="lg"
                  class="q-mx-sm text-amber"
                  v-if="scoreTotal >=5"
                />
                <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <7" />
                <q-icon
                  name="fas fa-star"
                  size="lg"
                  class="q-mx-sm text-amber"
                  v-if="scoreTotal >=7"
                />
                <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <9" />
                <q-icon
                  name="fas fa-star"
                  size="lg"
                  class="q-mx-sm text-amber"
                  v-if="scoreTotal >=9"
                />
              </div>
            </div>
            <div class="col-12 text-center text-h5 color1 q-pa-md">จบการทบทวน ครั้งที่ {{quizno}}</div>
            <div class="col-12">
              <div class="q-ma-md">
                <q-btn
                  class="btn bg1 text-white"
                  size="lg"
                  label="ออกจากการทบทวน"
                  to="/vocabpractice"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="q-mx-md">
                <q-btn
                  class="btn box bg-white"
                  size="lg"
                  label="ทำแบบฝึกหัดอีกครั้ง"
                  @click="loadData()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="mobile-only bgImage orientation-portrait">
      <!-- loading page -->
      <div class="absolute-center row" v-if="showMode==0">
        <img style="width:150px;height:150px" src="../statics/image/pizzaLoading.gif" />
      </div>
      <!-- ***********หน้าคำถาม -->
      <div class="bgImageMobile">
        <div v-if="showMode==1">
          <!-- header -->

          <div class="q-px-md q-pt-md fontText">คำถาม: {{currentNo}}/10</div>
          <!-- คำสั่ง -->

          <div
            class="q-px-md q-pb-sm fontText"
            v-html="vocabUse[
            currentNo - 1
            ].instructionThai"
          >
            <!-- {{vocabUse[
            currentNo - 1
            ].instructionThai}}-->
          </div>
          <!-- คำถาม -->
          <div class="q-px-md">
            <div
              class="relative-position text-body1"
              style="height:200px;  background-color: #0f2753"
            >
              <div class="absolute-center">
                <div
                  style="width:250px"
                  class="text-center text-white q-pa-md q-pa-md"
                  v-html="vocabUse[
        currentNo - 1
        ].question"
                ></div>
              </div>
            </div>
          </div>

          <!-- คำตอบ -->
          <div class="q-ma-md">
            <q-btn
              size="lg"
              class="bg-white color1 box"
              style="width:100%"
              v-html="vocabUse[
        currentNo - 1
        ].choice1"
              no-caps
              @click="answer(1)"
            ></q-btn>
          </div>
          <div class="q-ma-md">
            <q-btn
              size="lg"
              class="bg-white color1 box"
              style="width:100%"
              v-html="vocabUse[
        currentNo - 1
        ].choice2"
              no-caps
              @click="answer(2)"
            ></q-btn>
          </div>
          <div class="q-ma-md" v-show="vocabUse[
        currentNo - 1
        ].choice3.length>0">
            <q-btn
              size="lg"
              v-show="vocabUse[
        currentNo - 1
        ].choice3.length>0"
              class="bg-white color1 box"
              style="width:100%"
              v-html="vocabUse[
        currentNo - 1
        ].choice3"
              no-caps
              @click="answer(3)"
            ></q-btn>
          </div>
          <div class="q-ma-md" v-show="vocabUse[
        currentNo - 1
        ].choice4.length>0">
            <q-btn
              size="lg"
              v-show="vocabUse[
        currentNo - 1
        ].choice4.length>0"
              class="bg-white color1 box"
              style="width:100%"
              v-html="vocabUse[
        currentNo - 1
        ].choice4"
              no-caps
              @click="answer(4)"
            ></q-btn>
          </div>
        </div>
        <!-- ***************หน้าเฉลย -->
        <div v-if="showMode==2">
          <!-- header -->

          <div class="q-px-md q-pt-md">คำถาม: {{currentNo}}/10</div>
          <!-- คำสั่ง -->

          <div class="q-px-md q-py-sm">
            {{vocabUse[
            currentNo - 1
            ].instructionThai}}
          </div>
          <!-- คำถาม -->
          <div class="q-px-md">
            <div class="relative-position" style="height:200px;  background-color: #0f2753">
              <div class="absolute-center text-body1">
                <div
                  style="width:250px"
                  class="text-center text-white q-pa-md q-pa-md"
                  v-html="vocabUse[
        currentNo - 1
        ].question"
                ></div>
              </div>
            </div>
          </div>

          <!-- คำตอบ -->
          <div class="q-ma-md">
            <q-btn
              size="lg"
              class="bg-white color1 box"
              style="width:100%"
              v-html="vocabUse[
        currentNo - 1
        ].choice1"
              no-caps
              :class="{'bg-green':vocabUse[currentNo -1].correctAnswer==1,'bg-red':studentAnswer==1 }"
            ></q-btn>
          </div>
          <div class="q-ma-md">
            <q-btn
              size="lg"
              class="bg-white color1 box"
              style="width:100%"
              v-html="vocabUse[
        currentNo - 1
        ].choice2"
              no-caps
              :class="{'bg-green':vocabUse[currentNo -1].correctAnswer==2,'bg-red':studentAnswer==2 }"
            ></q-btn>
          </div>
          <div class="q-ma-md">
            <q-btn
              size="lg"
              class="bg-white color1 box"
              style="width:100%"
              v-html="vocabUse[
        currentNo - 1
        ].choice3"
              no-caps
              :class="{'bg-green':vocabUse[currentNo -1].correctAnswer==3,'bg-red':studentAnswer==3 }"
            ></q-btn>
          </div>
          <div class="q-ma-md">
            <q-btn
              size="lg"
              class="bg-white color1 box"
              style="width:100%"
              v-html="vocabUse[
        currentNo - 1
        ].choice4"
              no-caps
              :class="{'bg-green':vocabUse[currentNo -1].correctAnswer==4,'bg-red':studentAnswer==4 }"
            ></q-btn>
          </div>
          <!-- คำเฉลย -->
          <div class="q-px-md q-pb-md">
            <div class="bg-white borderdash q-pa-md" v-html="vocabUse[currentNo-1].description">
              <!-- คำอธิบาย
            <br />
              {{vocabUse[currentNo-1].description}}-->
            </div>
          </div>

          <div class="q-px-md q-pb-md">
            <q-btn
              size="lg"
              style="width:100%; background-color: #0f2753"
              class="text-white"
              @click="nextpage()"
            >ข้อต่อไป</q-btn>
          </div>
        </div>

        <!-- หน้าสรุป -->
        <div v-if="showMode==3">
          <div class="row q-pt-md">
            <div class="col-12 text-center">
              <q-circular-progress
                show-value
                font-size="24px"
                class="color2 q-ma-md"
                style="background-color: #0f2753;border-radius:50px "
                :value="scoreTotal/10*100"
                size="100px"
                :thickness="0.15"
              >{{scoreTotal}}/10</q-circular-progress>
            </div>
            <div class="q-px-md q-my-sm col-12" align="center">
              <div>
                <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <5" />
                <q-icon
                  name="fas fa-star"
                  size="lg"
                  class="q-mx-sm text-amber"
                  v-if="scoreTotal >=5"
                />
                <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <7" />
                <q-icon
                  name="fas fa-star"
                  size="lg"
                  class="q-mx-sm text-amber"
                  v-if="scoreTotal >=7"
                />
                <q-icon name="far fa-star" size="lg" class="q-mx-sm" v-if="scoreTotal <9" />
                <q-icon
                  name="fas fa-star"
                  size="lg"
                  class="q-mx-sm text-amber"
                  v-if="scoreTotal >=9"
                />
              </div>
            </div>
            <div class="col-12 text-center text-h5 color1 q-pa-md">จบการทบทวน ครั้งที่ {{quizno}}</div>
            <div class="col-12">
              <div class="q-ma-md">
                <q-btn
                  size="lg"
                  class="text-white"
                  style="width:100%; background-color: #0f2753"
                  label="ออกจากการทบทวน"
                  to="/vocabpractice"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="q-mx-md">
                <q-btn
                  size="lg"
                  class="bg-white color1 box"
                  style="width:100%;"
                  label="ทำแบบฝึกหัดอีกครั้ง"
                  @click="loadData()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <rotate />
  </div>
</template>

<script>
import rotate from "../components/dontsleep.vue";
import { db } from "../router/index.js";
export default {
  components: {
    rotate
  },
  data() {
    return {
      startunit: this.$route.params.startunit,
      endunit: this.$route.params.endunit,
      quizno: this.$route.params.quizno,
      studentData: this.$q.localStorage.getItem("studentData"),
      vocabEndData: [],
      vocabStartData: [],
      vocabUse: [], //ตัวแปรเก็บโจทย์คำถาม
      currentNo: 1, //ข้อปัจจุบันที่ทำงานอยู่
      showMode: 0, //0=loading 1= คำถาม 2 = เฉลย  3= หน้าจบ
      scoreTotal: 0
    };
  },
  methods: {
    async loadData() {
      this.currentNo = 1;
      this.vocabEndData = [];
      this.vocabStartData = [];
      this.vocabUse = [];
      this.scoreTotal = 0;
      //set จำนวนข้อที่ควรที่จะมี
      let unitDiff = this.endunit - this.startunit + 1;
      let lastunit = 4;
      var otherunit = 6;
      if (unitDiff == 2) {
        lastunit = 5;
        otherunit = 5;
      }
      //โหลดข้อสอบ vocab ใน unit สุดท้าย เก็บไว้ใน vocabEndData
      let levelSet = "L" + this.studentData.level + "U" + this.endunit;
      let endsize;

      await db
        .collection("questionpool")
        .doc("server")
        .collection(levelSet)
        .where("skill", "==", "vocabulary")
        .get()
        .then(doc => {
          endsize = doc.size;
          doc.forEach(data => {
            let dataTemp = {
              instructionEng: data.data().instructioneng,
              instructionThai: data.data().instructionthai,
              choice1: data.data().choice1,
              choice2: data.data().choice2,
              choice3: data.data().choice3,
              choice4: data.data().choice4,
              correctAnswer: data.data().correctanswer,
              question: data.data().question,
              description: data.data().description
            };
            this.vocabEndData.push(dataTemp);
          });
        });

      setTimeout(() => {
        //กรณีต้องตัดคำถามบ้างข้อออกจาก list
        if (endsize > lastunit) {
          for (let i = 1; i <= endsize - lastunit; i++) {
            this.vocabEndData.splice(
              this._.random(this.vocabEndData.length - 1),
              1
            );
          }
        }
      }, 1500);
      //โหลดคลังข้อสอบจาก unit ที่เหลือ
      for (let i = Number(this.startunit); i < Number(this.endunit); i++) {
        let levelSet2 = "L" + this.studentData.level + "U" + i;

        await db
          .collection("questionpool")
          .doc("server")
          .collection(levelSet2)
          .where("skill", "==", "vocabulary")
          .get()
          .then(doc => {
            doc.forEach(data => {
              let dataTemp = {
                instructionEng: data.data().instructioneng,
                instructionThai: data.data().instructionthai,
                choice1: data.data().choice1,
                choice2: data.data().choice2,
                choice3: data.data().choice3,
                choice4: data.data().choice4,
                correctAnswer: data.data().correctanswer,
                question: data.data().question,
                description: data.data().description
              };
              this.vocabStartData.push(dataTemp);
            });
          });
      }

      setTimeout(() => {
        //ตัด array ข้อที่ไม่จำเป็นออก
        let removeNo = this.vocabStartData.length - otherunit;
        for (let j = 1; j <= removeNo; j++) {
          let numberx = this._.random(this.vocabStartData.length - 1);
          this.vocabStartData.splice(numberx, 1);
        }
        //รวม array สองอันรวมกัน พร้อมทั้งสลับข้อ
        this.vocabUse = this._.concat(this.vocabStartData, this.vocabEndData);
        this.vocabUse = this._.shuffle(this.vocabUse);
        this.showMode = 1;
      }, 1500);
    },

    answer(answerNo) {
      var audioTrue = new Audio("../statics/correct.mp3");
      var audioFalse = new Audio("../statics/fail.mp3");
      this.showMode = 2;
      this.studentAnswer = answerNo;
      if (
        this.studentAnswer == this.vocabUse[this.currentNo - 1].correctAnswer
      ) {
        this.scoreTotal += 1;
        if (this.$q.localStorage.getItem("soundOn")) {
          audioTrue.play();
        }
      } else {
        if (this.$q.localStorage.getItem("soundOn")) {
          audioFalse.play();
        }
      }
      setTimeout(() => {
        document.documentElement.scrollTop =
          document.documentElement.scrollHeight;
      }, 500);
    },
    async nextpage() {
      let vocabDataarr = [];
      if (this.currentNo >= 10) {
        await db
          .collection("reviewvocab")
          .doc("lv" + this.studentData.level)
          .collection("data")
          .doc(this.studentData.key)
          .get()
          .then(doc => {
            if (!doc.exists) {
              db.collection("reviewvocab")
                .doc("lv" + this.studentData.level)
                .collection("data")
                .doc(this.studentData.key)
                .set({
                  vocab: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                });
            }
          });

        //Check old score
        db.collection("reviewvocab")
          .doc("lv" + this.studentData.level)
          .collection("data")
          .doc(this.studentData.key)
          .collection("data")
          .doc("q" + this.quizno)
          .get()
          .then(data => {
            db.collection("reviewvocab")
              .doc("lv" + this.studentData.level)
              .collection("data")
              .doc(this.studentData.key)
              .get()
              .then(data => {
                vocabDataarr = data.data().vocab;
                if (this.scoreTotal >= 5) {
                  if (vocabDataarr[this.quizno - 1] < this.scoreTotal) {
                    vocabDataarr[this.quizno - 1] = this.scoreTotal;
                    db.collection("reviewvocab")
                      .doc("lv" + this.studentData.level)
                      .collection("data")
                      .doc(this.studentData.key)
                      .set({
                        vocab: vocabDataarr
                      });
                  }
                }
              });
            this.showMode = 3;
          });
      } else {
        this.currentNo += 1;
        this.showMode = 1;
      }
    },
    backBtn() {
      this.$router.push("/vocabpractice");
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style scoped>
.fontText {
  font-size: 4vw;
}
.box {
  border: 1px solid #0f2753;
}
.mainDiv {
  width: 400px;
  height: 780px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;
}
.btn {
  width: 100%;
  height: 65px;
}
.borderdash {
  border: 1px dashed black;
}
.questiondiv {
  height: 200px;
  border: 1px dashed black;
  border-radius: 10px;
}
</style>