<template>
  <div>
    <!-- main div -->
    <div class="row logindiv content-start absolute-center">
      <!-- รูปภาพ -->
      <div class="fixed-center q-pa-md box">
        <div class="text-center">
          <img src="../statics/image/logo.png" class="logo" />
        </div>
        <div class="color2 text-h6 text-center q-pb-md">{{student.name}} {{student.surname}}</div>

        <!-- Login Btn -->
        <div>
          <q-btn @click="login()" label="เข้าสู่ระบบ" class="btnlogin q-mt-sm btn" />
        </div>
        <div @click="logout()" class="text-center q-pa-md">
          <u class="text-white cursor-pointer">
            <span>เข้าสู่ระบบด้วยบัญชีผู้ใช้อื่น</span>
          </u>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    login() {
      this.$router.push("/menu");
    },
    logout() {
      this.notifyGreen("ออกจากระบบ");
      this.$q.localStorage.set("studentData", "");
      this.$router.push("/");
    }
  }
};
</script>

<style  scoped>
.logo {
  width: 200px;
  height: 200px;
}
.btnlogin {
  width: 100%;
}
.btn {
  width: 300px;
  color: #ffffff;
  background: #42cb58;
}
.logindiv {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background: #0f2753;
}
</style>