<template>
  <div class="col-12 row q-pa-sm mobile-only orientation-landscape bgImage" align="center">
    <div class="absolute-center col-12">
      <div>
        <img src="../statics/image/pleseRotate.gif" style="height:50vh" />
      </div>
      <span class="color1 text-h5">โปรแกรมนี้สามารถใช้ได้เฉพาะหน้าจอแนวตั้ง</span>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style  scoped>
</style>