/* app global css */
html {
  scroll-behavior: smooth;
}

.brx {
  border: 1px solid red;
}

.color1 {
  color: #0f2753;
}

.color2 {
  color: #42cb85;
}

.bg1 {
  background-color: #0f2753;
  width: 1600px;
  height: 80vh;
}

.bg3 {
  background-color: #0f2753;

}

.bg11 {
  background-color: #0f2753;
  width: 100%;
  height: 100vh;
}

.bg2 {
  background: #42cb85;
}

.bgImageMobile {
  background-image: url("../statics/image/background.png");
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  background-repeat: repeat;

}

.bgImage {
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url("../statics/image/background.png");
  background-size: cover;
}
