<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="bg2 color1">
      <q-toolbar>
        <q-avatar v-if="$route.name == 'menu'" size="36px">
          <img src="../statics/image/logo.png" />
        </q-avatar>
        <q-icon
          v-if="$route.name != 'menu'"
          name="fas fa-chevron-left"
          class="cursor-pointer color1 q-mt-xs"
          size="24px"
          @click="backBtn()"
        />
        <q-toolbar-title>
          <div v-if="$route.name == 'menu'">{{student.name}} {{student.surname}}</div>

          <div class="row justify-center">
            <div v-if="$route.name == 'flashcardmain'">ตำราคำศัพท์</div>
            <div v-if="$route.name == 'flashcard'">ตำราคำศัพท์</div>
            <div v-if="$route.name == 'popwordmenu'">คำศัพท์จานด่วน</div>
            <div v-if="$route.name == 'popword'">คำศัพท์จานด่วน</div>
            <div v-if="$route.name == 'vocabpractice'">แบบฝึกหัดคำศัพท์</div>
            <div
              v-if="$route.name == 'vocabtest'"
            >แบบฝึกหัดคำศัพท์ ครั้งที่ {{$route.params.quizno}}</div>
            <div v-if="$route.name == 'grammarbook'">ตำราไวยากรณ์</div>
            <div v-if="$route.name == 'grammarcontent'">ตำราไวยากรณ์ unit {{$route.params.unit}}</div>
            <div v-if="$route.name == 'grammarpractice'">แบบฝึกหัดไวยากรณ์</div>
            <div
              v-if="$route.name == 'grammartest'"
            >แบบฝึกหัดไวยากรณ์ ครั้งที่ {{$route.params.quizno}}</div>
          </div>
        </q-toolbar-title>

        <div>
          <span>
            <q-btn
              round
              flat
              v-show="soundOn2 == true"
              class="q-mx-sm bg6"
              icon="fas fa-volume-up"
              push
              @click="soundCheck(false)"
            />

            <q-btn
              round
              flat
              v-show=" soundOn2 == false"
              class="q-mx-sm bg6"
              icon="fas fa-volume-mute"
              push
              @click="soundCheck(true)"
            />
          </span>
          <q-icon
            @click="confirm = true"
            name="fas fa-sign-out-alt"
            class="cursor-pointer color1 q-mt-xs"
            size="24px"
          />
          <q-dialog v-model="confirm" persistent>
            <q-card style="width:400px; border: 5px solid black;border-radius:10px ">
              <q-card-section class="row items-center">
                <span class="text-h6 text-center col-12">คุณต้องการออกจากระบบหรือไม่?</span>
              </q-card-section>
              <q-card-actions>
                <div class="row justify-center col-12">
                  <div class="q-px-sm q-pb-lg">
                    <q-btn
                      flat
                      size="md"
                      style="width:100px; border: 3px solid red"
                      label="ยกเลิก"
                      color="negative"
                      v-close-popup
                    />
                  </div>
                  <div class="q-px-sm q-pb-lg">
                    <q-btn
                      class="bg2 text-white"
                      @click="logout()"
                      size="md"
                      style="width:100px"
                      label="ตกลง"
                      v-close-popup
                    />
                  </div>
                </div>
              </q-card-actions>
            </q-card>
          </q-dialog>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { db } from "../router/index.js";
export default {
  name: "MyLayout",
  data() {
    return {
      soundOn2: this.$q.localStorage.getItem("soundOn"),
      confirm: false,
      leftDrawerOpen: false
    };
  },
  methods: {
    soundCheck(data) {
      this.$q.localStorage.set("soundOn", data);
      this.soundOn2 = data;
    },
    loadVersion() {
      this.snapVersion = db
        .collection("version")
        .doc("review")
        .onSnapshot(data => {
          if (this.appVersion != data.data().version) {
            window.location.reload(true);
          }
        });
    },
    logout() {
      this.notifyGreen("ออกจากระบบ");
      this.$q.localStorage.set("studentData", "");
      this.$router.push("/");
    },
    backBtn() {
      let backpage = "";

      if (this.$route.name == "flashcard") {
        backpage = "/flashcardmain";
      } else if (this.$route.name == "popword") {
        backpage = "/popwordmenu";
      } else if (this.$route.name == "vocabtest") {
        backpage = "/vocabpractice";
      } else if (this.$route.name == "grammartest") {
        backpage = "/grammarpractice";
      } else if (this.$route.name == "grammarcontent") {
        backpage = "/grammarbook";
      } else {
        backpage = "/menu";
      }

      this.$router.push(backpage);
    }
  },
  mounted() {
    if (this.student == "") {
      this.$router.push("/");
      return;
    }

    this.loadVersion();
  }
};
</script>
